@CHARSET "ISO-8859-1";
body
{
    background-color: #d4ebfc;
}
.page
{
    width: 50%;
    margin-left: 25%;
    margin-top: 3em;
    border: 5px ridge #00e;
    background-color: #fff;
}
.access
{
    width: 50%;
    margin-left: 25%;
    margin-top: 3em;
    border: 5px solid #d4ebfc;
    text-align: center;
}
.access ul
{
    list-style: none url(none);
}
.access li
{
    font-size: 140%;
    font-weight: bold;
    margin: 1em;
}

h1
{
    text-align: center;
    padding: 1em;
    clear: both;
    font-size: 200%;
}

h2
{
    text-align: center;
    padding: 1em;
}
