<div class="titre">Ajout d'une notice</div>

<div class="texte">
	<p class="spip">
        Choisissez le type de document pour obtenir un formulaire de saisie.
        Validez votre choix en cliquant sur le bouton "Créer".
	</p>

	<form method="post" action="New" class="form ">
	    <fieldset label="Choix du type de document">
	        <select name="Type" src="new TextTable($this->path.'tables/type.txt')" />
	        <submit label="Créer..." class="spip_bouton" />
	    </fieldset>
	</form>			<p class="spip" style="font-weight:bold; color:#D4016C;">       Pour les indexeurs : attention ! <br />	   Pas de notices d'articles "à valider" entre le 15 et le 30 de chaque mois (correction du DP en cours). <br />	   Pour toute question, contacter la coordination.	</p>
</div>