<ul class="fulllist" start="{$this->selection->searchInfo('rank')}">
    <loop on="{$this->selection}" as="$rank, $record">
        <li class="record">

            /* Numéro de référence de la notice, utilisé pour l'ajout/suppression de plusieurs notices dans le/du panier */
            <hidden name="item" value="$REF" />

            /* Barre de liens de la notice */
            <span style="text-align: right;margin: 0;padding:0;">
            
                /* Numéro de la réponse */
                <span test="{$this->selection->count()>1}" style="float: left; padding-right: 1em;">{$this->selection->searchInfo('rank')}.</span>
                
                /* Bouton Ajouter ou Supprimer dans le/du panier */
                <span style="float: left">
                    <if test="{User::hasAccess('AdminBase,EditBase')}">
                        <if test="{!Config::get('incart',false)}">
                            <a class="addtocart" href="/AscoCart/Add?item=$REF">
                                <img src="/css/ascodocpsy/cart_add.png" alt="Ajouter au panier" />
                            </a>
                        </if>
                        <else>
                            <a href="/AscoCart/Remove?item=$REF">
                                <img src="/css/ascodocpsy/cart_delete.png" alt="Supprimer du panier" />
                            </a>
                        </else>
                    </if>                
                </span>                
                
                /* Boutons de la notice */ 
                <span class="recordbuttons" style="float: right">
                
                    /* Bouton "modifier" */
                    <if test="{$this->hasEditRight()}">
                        <a href="Load?REF=$REF">
                            <img src="/css/ascodocpsy/application_form_edit.png" align="top" alt="Modifier la notice" />
                            Modifier
                        </a>
                        |
                        <a href="Duplicate?REF=$REF">
                            <img src="/css/ascodocpsy/application_form_add.png" align="top" alt="Dupliquer la notice" />
                            Dupliquer
                        </a>
                    </if>
                </span>
            </span>

            /* Version en minu du type de la notice */
            <def name="TypeMinu" value="{strtolower($Type)}" />

            /* Affiche les informations appropriées en fonction du type de document et des drois utilisateurs */
            <switch test="{true}">
            
                <case test="{$TypeMinu==='article'}">
                    <TDTA />
                    <row label="Source">$Rev<Localisation /><opt> $Presentation</opt><opt>, vol $Vol</opt><opt>, n°$Num</opt>, p. $PdPf</row>
                    <Notes />
                    <MTCNR />
                    <opt><row test="{User::hasAccess('AdminBase,EditBase')}" label="Producteur">$ProdFich</row></opt>
                </case>
                
                <case test="{$TypeMinu==='congrès'}">
                    <TDTA />
                    <opt><row label="Congrès"><opt>$CongrTit, </opt><opt>$CongrDat, </opt><opt>n°$CongrNum, </opt><opt>$CongrLie</opt></row></opt>
                    <opt><row label="Source"><opt>$Lieu : </opt><opt>$Edit, </opt><opt>$Reed, </opt>$Page</row></opt>
                    <opt><row label="Collection">$Col</row></opt>
                    <Notes />
                    <MTCNR />
                    <Isbn />
                    <opt><row label="Localisation">$Loc</row></opt>
                    <if test="{User::hasAccess('AdminBase,EditBase')}">                        
                        <opt><row label="Producteur">$ProdFich</row></opt>
                    </if>
                </case>
                
                <case test="{$TypeMinu==='livre'}">
                    <TDTA />
                    <opt><row label="Source"><opt>$Lieu : </opt><opt>$Edit, </opt><opt>$Reed, </opt>$Page</row></opt>
                    <opt><row label="Collection">$Col</row></opt>
                    <Notes />
                    <MTCNR />
                    <Isbn />
                    <opt><row label="Localisation">$Loc</row></opt>
                    <if test="{User::hasAccess('AdminBase,EditBase')}">                      
                        <opt><row label="Producteur">$ProdFich</row></opt>
                    </if>
                </case>
                
                <case test="{$TypeMinu==='mémoire' || $TypeMinu==='thèse'}">
                    <TDTA />
                    <if test="{User::hasAccess('AdminBase,EditBase')}">
                        <opt><row>$DipSpe</row></opt>
                        <opt><row label="Source"><opt>$Lieu, </opt><opt>$Edit, </opt>$Page</row></opt>
                    </if>
                    <else>
                        <opt><row label="Thèse"><opt>$DipSpe, </opt><opt>$Lieu, </opt><opt>$Edit, </opt>$Page</row></opt>
                    </else>
                    <Notes />
                    <MTCNR />
                     <opt><row label="Localisation">$Loc</row></opt>
                    <if test="{User::hasAccess('AdminBase,EditBase')}">                       
                        <opt><row label="Producteur">$ProdFich</row></opt>
                    </if>
                </case>
                
                <case test="{$TypeMinu==='périodique'}">
                    <div class="row"><div>$Type<opt>, $ViePerio</opt></div></div>
                    <div class="row"><div>$Rev<opt> $Presentation</opt><opt>, {implode(' / ',(array)$IsbnIssn)}</opt></div></div>
                    <opt><row label="Localisation">$EtatCol</row></opt>
                    <Notes />
                </case>
                
                <case test="{$TypeMinu==='rapport'}">
                    <TDTA />
                    <opt><row label="Source"><opt>$Lieu : </opt><opt>$Edit, </opt><opt>$Reed, </opt><opt>$PageEdit</opt></row></opt>                        
                    <opt><row label="Source">$Rev<Localisation /><opt> $Presentation</opt><opt>, vol $Vol</opt><opt>, n°$Num</opt><opt>, $PageRev</opt></row></opt>
                    <opt><row label="Collection">$Col</row></opt>
                    <Notes />
                    <MTCNR />
                    <Isbn />
                    <opt><row test="{User::hasAccess('AdminBase,EditBase')}" label="Producteur">$ProdFich</row></opt>
                </case>
                
                <case test="{$TypeMinu==='texte officiel'}">
                    <row>$Type</row>
                    <opt><row label="Titre"><Tit /><opt> ; $Annexe</opt></row></opt>
                    <opt><row label="Source">$Rev<opt>, n°$Num</opt><opt> du $DatePub</opt></row></opt>
                    <MTCNR />
                    <opt><row test="{User::hasAccess('AdminBase,EditBase')}" label="Producteur">$ProdFich</row></opt>
                </case>

                <default>
                    <p class="spip">La notice numéro $REF possède un type de document qui n'est pas géré : '$Type', impossible de l'afficher.</p>
                </default>

            </switch>
            
            <opt><row test="{User::hasAccess('AdminBase')}" label="Mise à jour">$LastUpdate<opt> par $LastAuthor</opt></row></opt>
        </li>
    </loop>
</ul>