<slot name="header" count="{$this->selection->count()}">    
    <if test="{User::hasAccess('AdminBase')}">        /* Administrateur */
        <h1>Base documentaire - Recherche - Accès administrateur</h1>
    </if>
    <elseif test="{User::hasAccess('EditBase')}">     /* Membre du GIP */
        <h1>Base documentaire - Recherche - Accès membre du GIP</h1>
    </elseif>
    <else>
        <h1>Base documentaire - Recherche - Accès public</h1>
    </else>
    
    /* Afficher le nombre de réponses obtenues ? */
    
    <h2>Liste des réponses obtenues</h2>
    <p>
        Equation : <code>{$this->equation}</code><br />
        Réponses : <code>{$this->selection->count()}</code>
    </p>

    <p><strong>Les documents sont triés par date et par type, les périodiques par ordre alphabétique.</strong></p>
</slot>

/* Boutons supplémentaires pour les membres du GIP's et les admin (actions à effectuer sur les notices sélectionnées) */
<form strip="{! (User::hasAccess('AdminBase') || User::hasAccess('EditBase'))}" action="/ascocart/add" method="post" id="answers">
    <slot name="notice" action="templates/answers.html" />
</form>

<p class="top">
    <a href="#">Haut de page</a>
</p>
<style>
.transferProduct
\{
	border: 1px solid #cc0;
/*    background-color: #FFFFC0;*/
\}
</style>
<script>
function init()
\{
    jQuery('.navbar a').click(function()\{
        jQuery('#answers').load(jQuery(this).attr('href'), init);
        return false;
    \})

    jQuery('li p a').click(function()\{return false;\});
    
    jQuery('a.addtocart').click(function()\{
        jQuery.post(jQuery(this).attr('href'));
        /* .Highlight(200,'#FFFFC0') */
        jQuery(this.parentNode).TransferTo
        (
            \{
                to:'caddie',
                className:'transferProduct',
                duration: 500
            \}
        );
        return false;
    \});

    jQuery('a.removefromcart').click(function()\{
        jQuery.post(jQuery(this).attr('href'));
        jQuery(this.parentNode).css('background-color','#FFFFC0').fadeOut(400, function()\{jQuery(this).remove().next().remove()\});
        return false;
    \});

	jQuery('#answers').submit(function()\{
		jQuery(this).ajaxSubmit();
        jQuery(this.parentNode).TransferTo
        (
            \{
                to:'caddie',
                className:'transferProduct',
                duration: 500
            \}
        );
		return false;
	\});

\}

jQuery('document').ready(init);
</script>