<slot name="header" count="{$this->selection->count()}">
    <if test="{User::hasAccess('AdminBase')}">        /* Administrateur */
        <div class="titre">Base SantéPsy - Recherche - Accès administrateur</div>
    </if>
    <elseif test="{User::hasAccess('EditBase')}">     /* Membre du GIP */
        <div class="titre">Base SantéPsy - Recherche - Accès professionnel</div>
    </elseif>
    <else>
        <div class="titre">Base SantéPsy - Recherche - Accès public</div>
    </else>

    <p>
        Equation : <code>{$this->equation}</code>
    </p>
    
    /* Affiche les mots-vides qui ont été ignorés dans l'équation */
    <def name="stopwords" value="{$this->selection->searchInfo('stopwords')}" />
    <switch test="{count($stopwords)}">
        <case test="0" />
        <case test="1"><p>Le mot "{$stopwords[0]}" a été ignoré dans votre recherche.</p></case>
        <default><p>Les mots "{implode('", "', $stopwords)}" ont été ignorés dans votre recherche.</p></default>
    </switch>
    
    /* Informations techniques sur la recherche (affichées en mode debug uniquement) */
    <searchinfo for="StopWords" />  
    <searchinfo for="InternalStopWords" />  
    <searchinfo for="QueryTerms" />  
    <searchinfo for="InternalQueryTerms" />  
    <searchinfo for="MaxPossibleWeight" />  
    <searchinfo for="MaxAttainedWeight" />  
    <searchinfo for="InternalQuery" />  
    <searchinfo for="InternalFilter" />  
    <searchinfo for="InternalFinalQuery" />  
    <searchinfo for="SortOrder" />
</slot>

<div class="texte">
    /* Boutons supplémentaires pour les membres du GIP's et les admin (actions à effectuer sur les notices sélectionnées) */
    <if test="{!Config::get('incart',false)}">
        <form strip="{! (User::hasAccess('AdminBase') || User::hasAccess('EditBase'))}" action="/ascocart/add" method="post" id="answers">
            <div id="list">
               <slot name="notice" action="templates/answers.html" />
            </div>
        </form>
    </if>
    <else>
        <form strip="{! (User::hasAccess('AdminBase') || User::hasAccess('EditBase'))}" action="/ascocart/remove" method="post" id="answers">
            <div id="list">
                <slot name="notice" action="templates/answers.html" />
            </div>
        </form>
    </else>
</div>

<script>
function init()
\{
    jQuery('.navbar a').click(function()\{
        jQuery('#list').load(jQuery(this).attr('href'), init);
        jQuery(this).css('background',"url('{Routing::linkFor('/fabweb/images/loading.gif')}') top center no-repeat");
//        jQuery('ul.shortlist').fadeTo("slow",0.2);
        return false;
    \})
    
    // Lien "ajouter cette notice au caddie"
    jQuery('a.addtocart').click(function(e)
    \{
        jQuery.post(this.href);
        jQuery(this.parentNode).addClass('incart'); // parent=le li.record englobant
        jQuery(this).remove();
/*
version dynamique : le add devient un delete et vice versa        
        if (jQuery(this).hasClass('addtocart'))
        \{
            jQuery(this).removeClass('addtocart').addClass('removefromcart').attr('href', this.href.replace('Ajouter','Supprimer')).attr('title', 'Supprimer du panier');
            jQuery(this.parentNode).addClass('incart'); // parent=le li.record englobant
        \}
        else
        \{
            jQuery(this).removeClass('removefromcart').addClass('addtocart').attr('href', this.href.replace('Supprimer','Ajouter')).attr('title', 'Ajouter au panier');
            jQuery(this.parentNode).removeClass('incart'); // parent=le li.record englobant
        \}
*/
        return false;
    \});

    jQuery('a.removefromcart').click(function()
    \{
        jQuery.post(jQuery(this).attr('href'));
        jQuery(this.parentNode).css('background-color','#FFFFC0').fadeOut(400, function()\{jQuery(this).remove().next().remove()\});
        return false;
    \});

    jQuery('#answers').submit(function()\{
        jQuery.ajax(\{
            url: jQuery(this).attr('action'),
            type: jQuery(this).attr('method'),
            data: jQuery('input:hidden', this).serialize(),
            success: function()\{
                jQuery('li.record').css('opacity','0.5');
                jQuery('a.addtocart').css('display','none');
                jQuery('input.addall').css('display','none');
            \}
        \});        
        return false;
    \});
\}

jQuery('document').ready(init);
</script>
