/* Raccourci pour les champs Aut et Tit
@titLabel : le label pour le champ Tit : ne pas oublier le caractère '*'
*/
<template match="//AutTit" titLabel="Titre *">
    <fieldset label="Auteurs">
        <text name="Aut" value="{implode('/',(array)$Aut)}" rows="1" class="fullwidth autoheight mandatory" />
        <help name="Aut" />
    </fieldset>
    <fieldset label="$titLabel">
        <text name="Tit" rows="1" class="fullwidth autoheight mandatory" />
        <help name="Tit" />
    </fieldset>
</template>


/* Raccourci pour la section Année du document */
<template match="//Date">
    <fieldset label="Année du document">
        <text name="Date" class="fullwidth mandatory" />
        <help name="Date" />
    </fieldset>
</template>


/* Raccourci pour la section Mentions bibliographiques
@pageName : le nom de l'attribut du premier tag du fieldset
@pageLabel : le label de l'attribut du premier tag du fieldset : ne pas oublier le caractère '*' dans le titre
le titre du label pour le champ Tit : ne pas oublier le caractère '*' dans le libellé
*/
<template match="//MentionsBib" pageName="Page" pageLabel="Nombre de pages">
    <fieldset label="Mentions bibliographiques">
        <div>
            <text name="$pageName" label="$pageLabel" class="fullwidth mandatory" />
            <help name="$pageName" />
        </div>
        <div>
            <text name="Notes" label="Notes bibliographiques" rows="1" class="fullwidth autoheight" />
            <help name="Notes" />
        </div>
    </fieldset>
</template>


/* Raccourci pour les champs Collection et Mention d'édition */
<template match="//ColReed">
	<div>
        <text name="Col" rows="1" label="Collection" class="fullwidth autoheight" />
        <help name="Col" />
    </div>
	<div>
        <text name="Reed" rows="1" label="Mention d'édition" class="fullwidth autoheight" />
        <help name="Reed" />
    </div>
</template>


/* Raccourci pour le champ IsbnIssn
@label : le label pour le champ $IsbnIssn
@mandatory : indique si le champ $IsbnIssn est obligatoire
*/
<template match="//IsbnIssn" label="ISBN / ISSN" mandatory="{false}">
    <fieldset label="$label">
        <if test="$mandatory">
            <text name="IsbnIssn" value="{implode('/',(array)$IsbnIssn)}" class="fullwidth mandatory" />
        </if>
        <else>
            <text name="IsbnIssn" value="{implode('/',(array)$IsbnIssn)}" class="fullwidth" />
        </else>
        <help name="IsbnIssn" />
    </fieldset>
</template>


/* Raccourci pour la section Périodique
@revMandatory indique si le champ $Rev est obligatoire
@volExists indique si on créé une div pour le champ $Vol
*/
<template match="//Periodique" revMandatory="{true}" volExists="{true}">
    <fieldset label="Périodique">
        <if test="$revMandatory">
            <div>
                <text name="Rev" label="Titre du périodique" rows="1" class="fullwidth autoheight mandatory" />
                <help name="Rev" />
            </div>
        </if>
        <else>
            <div>
                <text name="Rev" label="Titre du périodique" rows="1" class="fullwidth autoheight" />
                <help name="Rev" />
            </div>
        </else>
        <div test="$volExists"><text name="Vol" label="Volume" class="fullwidth" /><help name="Vol" /></div>
        <if test="$revMandatory">
            <div>
                <text name="Num" label="Numéro" class="fullwidth mandatory" />
                <help name="Num" />
            </div>
        </if>
        <else>
            <div>
                <text name="Num" label="Numéro" class="fullwidth" />
                <help name="Num" />
            </div>
        </else>
    </fieldset>
</template>

        
/* Raccourci pour le champ Résumé et la section Indexation 
@themeMandatory indique si le champ $Theme est obligatoire
*/
<template match="//ResuIndexation" themeMandatory="{false}">
    <fieldset label="Résumé">
        <text name="Resu" rows="1" class="fullwidth autoheight" />
        <help name="Resu" />
    </fieldset>
    <fieldset label="Indexation">
        <div>
            <if test="$themeMandatory">
                <text name="Theme" rows="1" label="Thème" class="fullwidth autoheight mandatory" />
            </if>
            <else>
                <text name="Theme" rows="1" label="Thème" class="fullwidth autoheight" />
            </else>
            <help name="Theme" />
        </div>
        <div>
            <text name="MotCle" value="{implode('/',(array)$MotCle)}" rows="1" label="Descripteurs" class="fullwidth autoheight mandatory" />
            <help name="MotCle" />
        </div>
        <div>
            <text name="Nomp" value="{implode('/',(array)$Nomp)}" rows="1" label="Noms propres" class="fullwidth autoheight" />
            <help name="Nomp" />
        </div>
        <div>
            <text name="CanDes" value="{implode('/',(array)$CanDes)}" rows="1" label="Candidats descripteurs" class="fullwidth autoheight" />
            <help name="CanDes" />
        </div>
    </fieldset>
</template>


/* Raccourci pour le champ Lien vers le document
@mandatory : indique si le lien est obligatoire
*/
<template match="//Lien" mandatory="{false}">
    <if test="$mandatory">
        <fieldset label="Lien vers le document">
            <text name="Lien" rows="2" class="fullwidth mandatory" />
            <help name="Lien" />
        </fieldset>
    </if>
    <else>
        <fieldset label="Lien vers le document">
            <text name="Lien" rows="2" class="fullwidth" />
            <help name="Lien" />
        </fieldset>
    </else>
</template>


/* Raccourci pour le champ Localisation
@mandatory indique si les attributs sont obligatoires ou non
*/
<template match="//Loc" mandatory="{true}">
	<if test="$mandatory">
		<fieldset label="Localisation du document">
		    <text name="Loc" value="{implode('/',(array)$Loc)}" rows="1" class="fullwidth autoheight mandatory" />
            <help name="Loc" />
		</fieldset>
	</if>
	<else>
		<fieldset label="Localisation du document">
		    <text name="Loc" value="{implode('/',(array)$Loc)}" rows="1" class="fullwidth autoheight" />
            <help name="Loc" />
		</fieldset>	
	</else>
</template>


/* Raccourci pour le champ Producteur de la fiche
@mandatory indique si les attributs sont obligatoires ou non
*/
<template match="//ProdFich" mandatory="{true}">
	<if test="$mandatory">
	    <fieldset label="Producteur de la fiche">
	        <text name="ProdFich" value="{implode('/',(array)$ProdFich)}" class="fullwidth mandatory" />
            <help name="ProdFich" />
	    </fieldset>
	</if>
	<else>
	    <fieldset label="Producteur de la fiche">
	        <text name="ProdFich" value="{implode('/',(array)$ProdFich)}" class="fullwidth" />
            <help name="ProdFich" />
	    </fieldset>
	</else>
</template>


/* Raccourci pour le champ Statut de la notice */
<template match="//Statut">
    <fieldset label="Statut de la notice" style="border: 1px solid red;">
        <if test="{User::hasAccess('AdminBase')}">
            <fill values="$Statut"><radiolist name="Statut" src="new TextTable($this->path.'../../tables/statut.txt')" class="mandatory" /></fill>
        </if>
        <if test="{User::hasAccess('EditBase')}">
            <if test="{$Statut=='valide'}">
                <fill values="$Statut"><radiolist name="Statut" src="new TextTable($this->path.'../../tables/statut.txt')" class="mandatory" /></fill>
            </if>
            <else>
                <fill values="$Statut"><radiolist name="Statut" src="new TextTable($this->path.'../../tables/membre_statut.txt')" class="mandatory" /></fill>
            </else>
        </if>
    </fieldset>
</template>


/* Raccourci pour la section Congrès
@mandatory indique si les attributs sont obligatoires ou non
*/
<template match="//Congres" mandatory="{false}">
    <fieldset label="Congrès">
    <if test="$mandatory">
        <div>
            <text name="CongrTit" rows="1" label="Intitulé" class="fullwidth autoheight mandatory" />
            <help name="CongrTit" />
        </div>
        <div>
            <text name="CongrNum" label="Numéro" class="fullwidth mandatory" />
            <help name="CongrNum" />
        </div>
        <div>
            <text name="CongrLie" label="Ville" class="fullwidth mandatory" />
            <help name="CongrLie" />
        </div>
        <div>
            <text name="CongrDat" label="Année" class="fullwidth mandatory" />
            <help name="CongrDat" />
        </div>
    </if>
    <else>
        <div>
            <text name="CongrTit" rows="1" label="Intitulé" class="fullwidth autoheight" />
            <help name="CongrTit" />
        </div>
        <div>
            <text name="CongrNum" label="Numéro" class="fullwidth" />
            <help name="CongrNum" />
        </div>
        <div>
            <text name="CongrLie" label="Ville" class="fullwidth" />
            <help name="CongrLie" />
        </div>
        <div>
            <text name="CongrDat" label="Année" class="fullwidth" />
            <help name="CongrDat" />
        </div>
    </else>
    </fieldset>
</template>


/* Equivalent au <textbox /> mais si l'attribut value n'est pas précisé, 
alors il est défini à partir de l'attribut name.
On précise un attribut value notamment pour les champs 'articles', pour
lesquels il y a lieu de faire un traitement sur le contenu du champ.
*/
<template match="//text" name="" label="" rows="{false}" class="" value="">
    <if test="$rows">
		<if test="$value">
	        <textbox name="$name" value="$value" label="$label" rows="$rows" class="$class">{select('@*')}</textbox>
        </if>
        <else>
	        <textbox name="$name" value="$$name" label="$label" rows="$rows" class="$class">{select('@*')}</textbox>
        </else>
    </if>
    <else>
		<if test="$value">
	        <textbox name="$name" value="$value" label="$label" class="$class">{select('@*')}</textbox>
        </if>
        <else>
	        <textbox name="$name" value="$$name" label="$label" class="$class">{select('@*')}</textbox>
        </else>
    </else>
</template>


/* Lien vers la page d'aide */
<template match="//help" name="">
    <a tabindex="32767" href="{Config::get('help.'.$name)}" title="Aide sur le champ $name (nouvelle fenêtre/nouvel onglet)" target="_blank" class="help">&#160;<span>Aide</span></a>
    /* 
        On affecte aux liens "aide" le plus grand tabindex possible de façon à ce qu'on
        puisse naviguer de champ en champ avec la touche tabulation sans passer par ces 
        liens. Ceux-ci figurent toujours dans la séquence de tabulation, mais se retrouvent
        tout à la fin.
    */
</template>

/* Fin des template match */


/* Titre de la page : création/modification/duplication d'une notice (de type xxxx) */
<div class="titre">
    <switch test="{$this->method}">
        <case test="actionNew">Création</case>
        <case test="actionLoad">Modification</case>
        <case test="actionDuplicate">Duplication</case>
    </switch>
    
    d'une notice
    
    <if test="{!Config::get('allfields',false)}">
        <opt>de type $Type</opt>
    </if>
</div>

<div class="texte">

<if test="{!Config::get('allfields',false)}">
	<if test="{User::hasAccess('AdminBase')}">
	    <if test="{$REF > 0}"> /* on ne propose pas le lien si on est en train de créer ou de dupliquer une nouvelle notice */ 
	        <p><a href="LoadFull?REF=$REF" title="Saisie de la notice avec tous les champs"><span>Saisie de la notice avec tous les champs</span></a></p>
	    </if>
	</if>
</if>

<p><strong>Les zones encadrées de rouge sont des zones obligatoires.</strong></p>

<form method="post" action="Save" class="form load">
    <div class="buttons">
        <def name="deletelink" value="{Routing::linkFor('ConfirmDelete?REF='.$REF)}" />
        <button test="{$REF!=0 AND User::hasAccess('AdminBase')}" type="button" onclick="window.location.replace('$deletelink');" class="reset">Supprimer</button>
        <button type="button" onclick="checkDuplicate();" class="reset">Doublons potentiels</button>
        <submit label="Enregistrer" class="submit" />
    </div>

/* Liste des doublons potentiels */
<div id="DuplicatesContainer">
    <button type="button" onclick="jQuery('#DuplicatesContainer').hide('slow')">Fermer</button>
    <div id="Duplicates"></div>
</div>

/* Modification d'une notice en fonction du type de document */
<if test="{!is_null($Type) and !Config::get('allfields',false)}">

    <hidden name="Type" value="$Type" />
       
    /* Version en minu du type de la notice */
    <def name="TypeMinu" value="{strtolower($Type)}" />
    
    /* Contenu spécifique à chaque type de document */
    <switch test="{true}">
    
    /* TODO : factoriser le switch : Congrès et Livre presque identiques */
    
        <case test="{$TypeMinu==='article'}">
            <AutTit titLabel="Titre de l'article" />
            <Date />
            <MentionsBib pageName="PdPf" pageLabel="Page début-fin" />
            <Periodique />
            <ResuIndexation />
            <Lien />
            <ProdFich />
            <Statut />
            <script type="text/javascript">ctrlInitialize("ControlsArticle");</script>      
        </case>
        
        <case test="{$TypeMinu==='congrès'}">
            <AutTit titLabel="Titre du document" />
            <Congres mandatory="{true}" />
			<Date />
            <MentionsBib />
            <fieldset label="Edition">
                <div>
                    <text name="Edit" value="{implode('/',(array)$Edit)}" rows="1" label="Editeur(s)" class="fullwidth autoheight mandatory" />
                    <help name="Edit" />
                </div>
                <div>
                    <text name="Lieu" value="{implode('/',(array)$Lieu)}" rows="1" label="Lieu d'édition" class="fullwidth autoheight mandatory" />
                    <help name="Lieu" />
                </div>
                <ColReed />
            </fieldset>
            <IsbnIssn label="ISBN / ISSN" mandatory="{true}" />
            <ResuIndexation />
            <Lien />
            <Loc />
            <ProdFich />
            <Statut />
            <script type="text/javascript">ctrlInitialize("ControlsCongres");</script>
        </case>
        
        <case test="{$TypeMinu==='livre'}">
            <AutTit titLabel="Titre du document" />
            <Congres />
			<Date />
            <MentionsBib />
            <fieldset label="Edition">
                <div>
                    <text name="Edit" value="{implode('/',(array)$Edit)}" rows="1" label="Editeur" class="fullwidth autoheight mandatory" />
                    <help name="Edit" />
                </div>
                <div>
                    <text name="Lieu" value="{implode('/',(array)$Lieu)}" rows="1" label="Lieu d'édition" class="fullwidth autoheight mandatory" />
                    <help name="Lieu" />
                </div>
				<ColReed />
            </fieldset>
            <IsbnIssn label="ISBN / ISSN" mandatory="{true}" />
            <ResuIndexation />
            <Lien />
            <Loc />
            <ProdFich />
            <Statut />
            <script type="text/javascript">ctrlInitialize("ControlsLivre");</script>        
        </case>

        <case test="{$TypeMinu==='mémoire' || $TypeMinu==='thèse'}">
            <AutTit />
            <fieldset label="Spécialité du diplôme">
                <text name="DipSpe" rows="1" class="fullwidth autoheight mandatory" />
                <help name="DipSpe" />
            </fieldset>
            <fieldset label="Edition">
                <div>
                    <text name="Edit" value="{implode('/',(array)$Edit)}" rows="1" label="Institution morale de rattachement" class="fullwidth autoheight mandatory" />
                    <help name="Edit" />
                </div>
                <div>
                    <text name="Lieu" value="{implode('/',(array)$Lieu)}" rows="1" label="Lieu d'édition ou de soutenance" class="fullwidth autoheight mandatory" />
                    <help name="Lieu" />
                </div>
            </fieldset>
            <MentionsBib />
            <fieldset label="Année de soutenance">
                <text name="Date" class="fullwidth mandatory" />
                <help name="Date" />
            </fieldset>
            <ResuIndexation />
            <Lien />
            <Loc />
            <ProdFich />
            <Statut />
            <script type="text/javascript">ctrlInitialize("ControlsMemoire");</script>
        </case>
        
        <case test="{$TypeMinu==='périodique'}">
            <fieldset label="Titre du périodique">
                <text name="Rev" rows="1" class="fullwidth autoheight mandatory" />
                <help name="Rev" />
            </fieldset>
            <fieldset label="Date de vie et de mort">
                <text name="ViePerio" class="fullwidth mandatory" />
                <help name="ViePerio" />
            </fieldset>
            <fieldset label="Etat de la collection">
                <text name="EtatCol" value="{implode('/',(array)$EtatCol)}" rows="1" class="fullwidth autoheight mandatory" />
                <help name="EtatCol" />
            </fieldset>
            <IsbnIssn label="ISSN" mandatory="{true}" />
            <fieldset label="Notes">
                <text name="Notes" rows="1" class="fullwidth autoheight" />
                <help name="Notes" />
            </fieldset>
            <Lien />
            <ProdFich />
            <Statut />
            <script type="text/javascript">ctrlInitialize("ControlsPeriodique");</script>
        </case>
        
        <case test="{$TypeMinu==='rapport'}">
            <AutTit />
            <Date />
            <fieldset label="Nombre de pages">
                <text name="Page" class="fullwidth mandatory" />
                <help name="Page" />
            </fieldset>
            <fieldset label="Edition">
                <div>
                    <text name="Edit" value="{implode('/',(array)$Edit)}" rows="1" label="Editeur" class="fullwidth autoheight" />
                    <help name="Edit" />
                </div>
                <div>
                    <text name="Lieu" value="{implode('/',(array)$Lieu)}" rows="1" label="Lieu d'édition" class="fullwidth autoheight" />
                    <help name="Lieu" />
                </div>
				<ColReed />
            </fieldset>
            <Periodique revMandatory="{false}" />
            <IsbnIssn />
            <fieldset label="Notes bibliographiques">
                <text name="Notes" rows="1" class="fullwidth autoheight" />
                <help name="Notes" />
            </fieldset>
            <ResuIndexation themeMandatory="{true}" />
            <Lien mandatory="{true}" />
            <ProdFich />
            <Statut />
            <script type="text/javascript">ctrlInitialize("ControlsRapport");</script>
        </case>
        
        <case test="{$TypeMinu==='texte officiel'}">
            <fieldset label="Nature du texte officiel" style="border: 1px solid red;">
                <fill values="$NatText"><radiolist name="NatText" src="new TextTable($this->path.'../../tables/nattext.txt')" class="mandatory" /></fill>
            </fieldset>
            <fieldset label="Titres du document et liens vers les versions électroniques">
                <div>
                    <text name="Tit" rows="1" label="Titre * " class="fullwidth autoheight mandatory" />
                    <help name="Tit" />
                </div>
                <div>
                    <text name="Lien" rows="2" label="Lien vers le document" class="fullwidth mandatory" />
                    <help name="Lien" />
                </div>
                <div>
                    <text name="Annexe" value="{implode('/',(array)$Annexe)}" rows="1" label="Titres des annexes" class="fullwidth autoheight" />
                    <help name="Annexe" />
                </div>
                <div>
                    <text name="LienAnne" value="{implode(' ; ',(array)$LienAnne)}" rows="2" label="Liens vers les annexes" class="fullwidth" />
                    <help name="LienAnne" />
                </div>
            </fieldset>
            <fieldset label="Dates">
                <div>
                    <text name="DateText" label="Date du texte officiel" class="fullwidth mandatory" />
                    <help name="DateText" />
                </div>
                <div>
                    <text name="DatePub" label="Date de publication du texte officiel" class="fullwidth" />
                    <help name="DatePub" />
                </div>
                <div>
                    <text name="DateVali" label="Date de fin de validité du texte officiel" class="fullwidth" />
                    <help name="DateVali" />
                </div>
            </fieldset>
            <Periodique volExists="{false}" />           
            <fieldset label="Numéro du texte officiel">
                <text name="NumTexOf" class="fullwidth" />
                <help name="NumTexOf" />
            </fieldset>
            <ResuIndexation themeMandatory="{true}" />
            <ProdFich />
            <Statut />
            <script type="text/javascript">ctrlInitialize("ControlsTexteOfficiel");</script>
        </case>

        <default>
            <p>La notice numéro $REF possède un type de document qui n'est pas géré : '$Type', impossible de l'afficher.</p>
        </default>
      
    </switch>    
</if>

/* Modification d'une notice avec tous les champs */
<else>

	<fieldset label="Type de document">
        <fill values="$Type"><radiolist name="Type" src="new TextTable($this->path.'../../tables/type.txt')" /></fill>
	</fieldset>
    <fieldset label="Nature du texte officiel">
        <fill values="$NatText"><radiolist name="NatText" src="new TextTable($this->path.'../../tables/nattext.txt')" /></fill>
    </fieldset>
    <fieldset label="Auteurs">
        <text name="Aut" value="{implode('/',(array)$Aut)}" rows="1" class="fullwidth autoheight" />
        <help name="Aut" />
    </fieldset>
    <fieldset label="Titres du document et liens vers les versions électroniques">
        <div>
            <text name="Tit" rows="1" label="Titre du document" class="fullwidth autoheight" />
            <help name="Tit" />
        </div>
        <div>
            <text name="Lien" rows="1" label="Lien vers le document" class="fullwidth autoheight" />
            <help name="Lien" />
        </div>        
        <div>
            <text name="Annexe" value="{implode('/',(array)$Annexe)}" rows="1" label="Titres des annexes" class="fullwidth autoheight" />
            <help name="Annexe" />
        </div>
        <div>
            <text name="LienAnne" value="{implode(' ; ',(array)$LienAnne)}" rows="1" label="Liens vers les annexes" class="fullwidth autoheight" />
            <help name="LienAnne" />
        </div>        
    	<div>
            <text name="NumTexOf" label="Numéro du texte officiel" class="fullwidth" />
            <help name="NumTexOf" />
        </div>
    </fieldset>
    <fieldset label="Spécialité du diplôme">
        <text name="DipSpe" rows="1" class="fullwidth autoheight" />
        <help name="DipSpe" />
    </fieldset>
    <Congres />
    <fieldset label="Dates">
    	<div>
            <text name="Date" label="Année du document ou de soutenance" class="fullwidth" />
            <help name="Date" />
        </div>
        <div>
            <text name="DateText" label="Date du texte officiel" class="fullwidth" />
            <help name="DateText" />
        </div>
        <div>
            <text name="DatePub" label="Date de publication du texte officiel" class="fullwidth" />
            <help name="DatePub" />
        </div>
        <div>
            <text name="DateVali" label="Date de fin de validité du texte officiel" class="fullwidth" />
            <help name="DateVali" />
        </div>
    </fieldset>
    <fieldset label="Mentions bibliographiques">
    	<div>
            <text name="Page" label="Nombre de pages" class="fullwidth" />
            <help name="Page" />
        </div>
        <div>
            <text name="PdPf" label="Page de début et page de fin" class="fullwidth" />
            <help name="PdPf" />
        </div>
        <div>
            <text name="Notes" label="Notes bibliographiques" rows="1" class="fullwidth autoheight" />
            <help name="Notes" />
        </div>
    </fieldset>
    <fieldset label="Edition">
        <div>
            <text name="Edit" value="{implode('/',(array)$Edit)}" rows="1" label="Editeur(s)" class="fullwidth autoheight" />
            <help name="Edit" />
        </div>
        <div>
            <text name="Lieu" value="{implode('/',(array)$Lieu)}" rows="1" label="Lieu d'édition ou de soutenance" class="fullwidth autoheight" />
            <help name="Lieu" />
        </div>
        <ColReed />
    </fieldset>
    <IsbnIssn />
    <fieldset label="Périodique">
	    <div>
            <text name="Rev" label="Titre du périodique" rows="1" class="fullwidth autoheight" />
            <help name="Rev" />
        </div>
        <div>
            <text name="Vol" label="Volume" class="fullwidth" />
            <help name="Vol" />
        </div>
        <div>
            <text name="Num" label="Numéro" class="fullwidth" />
            <help name="Num" />
        </div>
		<div>
            <text name="ViePerio" label="Date de vie et de mort" class="fullwidth" />
            <help name="ViePerio" />
        </div>
		<div>
            <text name="EtatCol" label="Etat de la collection" value="{implode('/',(array)$EtatCol)}" rows="1" class="fullwidth autoheight" />
            <help name="EtatCol" />
        </div>
    </fieldset>
    <fieldset label="Résumé">
        <text name="Resu" rows="1" class="fullwidth autoheight" />
        <help name="Resu" />
    </fieldset>
    <fieldset label="Indexation">
        <div>
            <text name="Theme" rows="1" label="Thème" class="fullwidth autoheight" />
            <help name="Theme" />
        </div>
        <div>
            <text name="MotCle" value="{implode('/',(array)$MotCle)}" rows="1" label="Descripteurs" class="fullwidth autoheight" />
            <help name="MotCle" />
        </div>
        <div>
            <text name="Nomp" value="{implode('/',(array)$Nomp)}" rows="1" label="Noms propres" class="fullwidth autoheight" />
            <help name="Nomp" />
        </div>
        <div>
            <text name="CanDes" value="{implode('/',(array)$CanDes)}" rows="1" label="Candidats descripteurs" class="fullwidth autoheight" />
            <help name="CanDes" />
        </div>
    </fieldset>
    <Loc mandatory="{false}" />
    <ProdFich mandatory="{false}" />
    <Statut />
	<script type="text/javascript">ctrlInitialize("Controls");</script>

</else>

    <opt>
        <fieldset label="Dates de création et de mise à jour de la notice">
            <div><p>Création : $Creation</p></div>
            <if test="{User::hasAccess('AdminBase')}">
                <div><p>Mise à jour : $LastUpdate<opt> par $LastAuthor</opt></p></div>
            </if>
            <else>
                <div><p>Mise à jour : $LastUpdate</p></div>
            </else>
        </fieldset>
    </opt>
    
    <hidden name="REF" value="$REF" />
    
    <div class="buttons">
        <def name="deletelink" value="{Routing::linkFor('ConfirmDelete?REF='.$REF)}" />
        <button test="{$REF!=0 AND User::hasAccess('AdminBase')}" type="button" onclick="window.location.replace('$deletelink');" class="reset">Supprimer</button>
        <submit label="Enregistrer" class="submit" />
    </div>
</form>

</div> /* class="texte" */

<script type="text/javascript">
jQuery(document).ready(
	function()
	\{
        var title="Un index d'aide à la saisie est disponible pour ce champ.";
        
        jQuery('textarea[@name=Aut]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=auteurs&amp;value=%s',
            \{
                title: title
            \}
        );

        jQuery('textarea[@name=DipSpe]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=diplomes&amp;value=%s',
            \{
                title: title
            \}
        );

        jQuery('input[@name=CongrLie]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=villes&amp;value=%s',
            \{
                title: title
            \}
        );

        jQuery('textarea[@name=Edit]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=editeurs&amp;value=%s',
            \{
                title: title
            \}
        );

        jQuery('textarea[@name=Lieu]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=lieux&amp;value=%s',
            \{
                title: title
            \}
        );

        jQuery('textarea[@name=Col]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=collections&amp;value=%s',
            \{
                title: title
            \}
        );

        jQuery('textarea[@name=Rev]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=revues&amp;value=%s',
            \{
                title: title
            \}
        );

        jQuery('textarea[@name=Theme]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=themes&amp;value=%s',
            \{
                title: title
            \}
        );

        ThesoLookupUrl='{Routing::linkFor("/ThesaurusModule/ThesoLookup")}';
        jQuery('textarea[@name=MotCle]').autocomplete
        (
            ThesoLookupUrl + '?fre=[%s] or [%s*]',
            \{
                asValue: false,
                height: 300,
                onload: ThesoLookup,
                title: title
            \}
        );

        jQuery('textarea[@name=Nomp]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=nomspropres&amp;value=%s',
            \{
                title: title
            \}
        );

        jQuery('textarea[@name=CanDes]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=candes&amp;value=%s',
            \{
                title: title
            \}
        );
        
        jQuery('textarea[@name=Loc]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=localisations&amp;value=%s',
            \{
                title: title
            \}
        );
        
        jQuery('input[@name=ProdFich]').autocomplete
        (
            '{Routing::linkFor("Lookup")}?table=producteurs&amp;value=%s',
            \{
                title: title
            \}
        );

    \}
);

</script>