<if test="User::hasAccess('AdminBase')">        /* Administrateur */
    <h1>Base documentaire - Recherche - Accès administrateur</h1>
</if>
<elseif test="User::hasAccess('EditBase')">     /* Membre du GIP */
    <h1>Base documentaire - Recherche - Accès membre du GIP</h1>
</elseif>
<else>
    <h1>Base documentaire - Recherche - Accès public</h1>
</else>

<form class="form search" action="/base/search" method="get">
	<div>
		<field type="text" name="Mots" title="Recherche tous champs" />
    </div>

	<div>
		<field type="text" name="Motscles" title="Descripteurs" />
		<p class="exemple"><a href="http://www.ascodocpsy.org/article.php3?id_article=691" target="_blank" title="Consulter le thesaurus SantéPsy (nouvelle fenêtre)">Pour connaître les descripteurs à utiliser, consultez le thesaurus SantéPsy</a></p>
    </div>

	<div>
		<field type="text" name="Titres" title="Titre ou mots du titre" />
	</div>
		
	<div>
		<field type="text" name="Aut" title="Auteur" />
	</div>	

	<div>
		<field type="text" name="Resu" title="Résumé" />
	</div>
    
    <div>
        <field type="checklist" name="Dates" src="new TextTable($this->path.'../../tables/date.txt')" title="Date du document" />
        <div class="date">
            <field type="select" name="Dates" src="new TextTable($this->path.'../../tables/datelist.txt')" emptylabel="true" title="Autre" />
        </div>
    </div>

    <div>
        <field type="text" name="DateText" title="Date du texte officiel" />
        <span class="exemple">
            Format : AAAA-MM-JJ ou AAAA-MM ou AAAA
        </span>

    </div>

    <div>
        <if test="User::hasAccess('AdminBase') || User::hasAccess('EditBase')">
            <field type="checklist" name="Type" src="new TextTable($this->path.'../../tables/type.txt')" title="Type de document" />
        </if>
        <else>
            <field type="checklist" name="Type" src="new TextTable($this->path.'../../tables/public_type.txt')" title="Type de document" />
        </else>
    </div>

    /* TODO : quicktable ? */
    <div>
        <field type="checklist" name="Liens" src="array(array('code'=>'@notempty@', 'label'=>'Documents en ligne uniquement'))" title="Texte intégral" />
    </div>
    
    <div>
        <field type="text" name="Rev" title="Titre ou périodique" />
    </div>

    <div test="User::hasAccess('EditBase')">
        <field type="text" name="Edit" title="Editeur" />
    </div>
    
    <div test="User::hasAccess('EditBase')">
        <field type="text" name="Col" title="Collection" />
    </div>
    
    <div test="User::hasAccess('EditBase')">
        <field type="text" name="IsbnIssn" title="ISBN, ISSN" />
    </div>
    
     <div test="User::hasAccess('EditBase')">
        <field type="text" name="Numeros" title="Numéro (du périodique, du congrès, du texte officiel)" />
    </div>
    
    <div>
        <field type="select" name="NatText" src="new TextTable($this->path.'../../tables/nattext.txt')" title="Nature du texte officiel" size="3" multiple="true" />
        <div class="infonattext">
            <p class="exemple">
                Pour sélectionner plusieurs types de texte officiel, 
                appuyez sur la touche contrôle (Ctrl) et cliquez sur 
                les types souhaités. Procéder de même pour désélectionner.
            </p>
        </div>
    </div>
    
    <div test="User::hasAccess('EditBase')">
        <field type="text" name="Loc" title="Localisation" />
    </div>
    
    <div test="User::hasAccess('EditBase')">
        <field type="text" name="ProdFich" title="Producteur" />
        <p class="exemple">Producteur, localisation : format="asco5"</p>
    </div>
    
    <div class="buttons">
        <field type="submit" value="Rechercher" />    
    </div>

</form>

<form class="reset">
    <div class="buttons">
        <field type="submit" value="Effacer tout" />
    </div>
</form>