<if test="{User::hasAccess('AdminBase')}">        /* Administrateur */
    <h1>Base documentaire - Visualisation - Accès administrateur</h1>
</if>
<elseif test="{User::hasAccess('EditBase')}">     /* Membre du GIP */
    <h1>Base documentaire - Visualisation - Accès membre du GIP</h1>
</elseif>
<else>
    <h1>Base documentaire - Visualisation - Accès public</h1>
</else>


<p test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}">
    Equation : <code>{$this->equation}</code><br />
    Réponses : <code>{$this->selection->count()}</code>
</p>

/* Boutons supplémentaires pour les membres du GIP's et les admin (actions à effectuer sur les notices sélectionnées) */
<form if="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}" action="/ascocart/add" method="post" name="answers">

    <ul class="fulllist">
        <loop on="{$this->selection}" as="$rank, $record">
            <li class="record">

	            <if test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}">
	                <if test="{!Config::get('incart',false)}">
	                    <a class="addtocart" href="/ascocart/add?category={Utils::convertString($Type,'lower')}&amp;item=$REF"><span>Ajouter au panier</span></a>
	                </if>
	                <else>
	                    <a class="removefromcart" href="/ascocart/remove?category={Utils::convertString($Type,'lower')}&amp;item=$REF"><span>Supprimer du panier</span></a>
	                </else>
	            </if>                

                <if test="{$this->hasEditRight()}">
                    <input type="hidden" name="art" value="$REF" />
                    <a class="loadrecord" href="/base/load?REF=$REF" title="Modifier la notice"><span>Modifier la notice</span></a>
                </if>

                /* affiche les informations appropriées en fonction du type de document et des drois utilisateurs */
                <switch test="$Type">
                
                    <case test="Article">        
                        <TDTA />
                        <row test="{! (User::hasAccess('AdminBase') || User::hasAccess('EditBase'))}" label="Périodique">$Rev</row>
                        <row test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}" label="Périodique">$Rev<opt> DMDM Localisation</opt><opt> $Presentation</opt></row>
                        <opt><row><opt>vol $Vol, </opt><opt>n°$Num, </opt>p. $PdPf</row></opt>
                        <opt><row label="Notes">$Notes</row></opt>
                        <MTCNR />
                        <opt><row test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}" label="Producteur">$ProdFich</row></opt>
                    </case>
                    
                    <case test="Congrès">
                        <TDTA />
                        <opt><row label="Congrès"><opt>$CongrTit, </opt><opt>$CongrDat, </opt><opt>n°$CongrNum, </opt><opt>$CongrLie</opt></row></opt>
                        <opt><row label="Editeur"><opt>$Lieu: </opt><opt>$Edit, </opt><opt>$Reed, </opt>$Page</row></opt>
                        <opt><row label="Collection">$Col</row></opt>
                        <opt><row label="Notes">$Notes</row></opt>
                        <MTCNR />
                        <opt><row label="ISBN">$IsbnIssn</row></opt>
                        <if test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}">
                            <opt><row label="Localisation">$Loc</row></opt>
                            <opt><row label="Producteur">$ProdFich</row></opt>
                        </if>
                    </case>
                    
                    <case test="Livre">
                        <TDTA />
                        <opt><row label="Editeur"><opt>$Lieu : </opt><opt>$Edit, </opt><opt>$Reed, </opt>$Page</row></opt>
                        <opt><row label="Collection">$Col</row></opt>
                        <opt><row label="Notes">$Notes</row></opt>
                        <MTCNR />
                        <opt><row label="ISBN">$IsbnIssn</row></opt>
                        <if test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}">
                            <opt><row label="Localisation">$Loc</row></opt>
                            <opt><row label="Producteur">$ProdFich</row></opt>
                        </if>
                    </case>
                    
                    <case test="{$Type=='Mémoire' || $Type=='Thèse'}">
                        <TDTA />
                        <if test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}">
                            <opt><row>$DipSpe</row></opt>
                            <opt><row label="Editeur"><opt>$Lieu, </opt><opt>$Edit, </opt>$Page</row></opt>
                        </if>
                        <else>
                            <opt><row label="Thèse"><opt>$DipSpe, </opt><opt>$Lieu, </opt><opt>$Edit, </opt>$Page</row></opt>
                        </else>
                        <opt><row label="Notes">$Notes</row></opt>
                        <MTCNR />
                        <if test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}">
                            <opt><row label="Localisation">$Loc</row></opt>
                            <opt><row label="Producteur">$ProdFich</row></opt>
                        </if>
                    </case>
                    
                    <case test="Périodique">
                        <div class="row"><div>$Type<opt>, $ViePerio</opt></div></div>
                        <div class="row"><div>$Rev<opt> $Presentation</opt><opt>, $IsbnIssn</opt></div></div>
                        <opt><row label="Localisation">$EtatCol</row></opt>
                        <opt><row label="Notes">$Notes</row></opt>
                    </case>
                    
                    <case test="Rapport">
                        <TDTA />
                        <opt><row label="Editeur"><opt>$Lieu : </opt><opt>$Edit, </opt><opt>$Reed, </opt>$PageEdit</row></opt>
                        <if test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}">
                            <opt><row label="Périodique"><opt>$Rev</opt><opt> DMDM Localisation</opt><opt> $Presentation</opt><opt>, vol $Vol</opt><opt>, n°$Num</opt><opt>, $PageRev</opt></row></opt>
                        </if>
                        <else>
                            <opt><row label="Périodique"><opt>$Rev</opt><opt>, vol $Vol</opt><opt>, n°$Num</opt><opt>, $PageRev</opt></row></opt>
                        </else>                
                        <opt><row label="Collection">$Col</row></opt>
                        <opt><row label="Notes">$Notes</row></opt>
                        <MTCNR />
                        <opt><row label="ISBN">$IsbnIssn</row></opt>
                        <opt><row test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}" label="Producteur">$ProdFich</row></opt>
                    </case>
                    
                    <case test="Texte officiel">
                        <row>$Type</row>
                        <opt><row label="Titre">$Tit<opt> ; $Annexe</opt></row></opt>
                        <opt><row test="{! (User::hasAccess('AdminBase') || User::hasAccess('EditBase'))}" label="Source">$Rev $DatePub, n°$Num</row></opt>
                        <opt><row test="{User::hasAccess('EditBase')}" label="Périodique">$Rev<opt>, n°$Num</opt><opt> du $DatePub</opt></row></opt>
                        <MTCNR />
                        <opt><row test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}" label="Producteur">$ProdFich</row></opt>
                    </case>
                </switch>
            </li>
        </loop>
    </ul>

    <div>
        {$this->getResNavigation(10, '&lt;', '&gt;', '&lt;&lt;', '&gt;&gt;')}
    </div>
</form>
<style>
.transferProduct
\{
	border: 1px solid #cc0;
/*    background-color: #FFFFC0;*/
\}
</style>
<script>
function init()
\{
    jQuery('.navbar a').click(function()\{
        jQuery('#answers').load(jQuery(this).attr('href'), init);
        return false;
    \})

    jQuery('li p a').click(function()\{return false;\});
    
    jQuery('a.addtocart').click(function()\{
        jQuery.post(jQuery(this).attr('href'));
        /* .Highlight(200,'#FFFFC0') */
        jQuery(this.parentNode).TransferTo
        (
            \{
                to:'caddie',
                className:'transferProduct',
                duration: 500
            \}
        );
        return false;
    \});

    jQuery('a.removefromcart').click(function()\{
        jQuery.post(jQuery(this).attr('href'));
        jQuery(this.parentNode).css('background-color','#FFFFC0').fadeOut(400, function()\{jQuery(this).remove().next().remove()\});
        return false;
    \});
\}

jQuery('document').ready(init);
</script>