<!-- Equivalent au <textbox /> sauf que l'attribut value est définit à partir de la valeur de l'attribut name -->
<template match="//text">
    <textbox value="$$name">{select('@*|node()')}</textbox>
</template>

<h1>Base documentaire - Ajout/Modification d'une notice</h1>

<opt><h1>Document de type $Type</h1></opt>

<if test="User::hasAccess('AdminBase')">
    <if test="$REF > 0">
        <a href="/base/loadfull?ref=[REF]" title="Saisie de la notice avec tous les champs"><span>Saisie de la notice avec tous les champs</span></a>
    </if>
    <else>
        <a href="/base/loadfull" title="Saisie de la notice avec tous les champs"><span>Saisie de la notice avec tous les champs</span></a>
    </else>
</if>


<form method="post" action="save" class="form load">
    <div><input type="hidden" name="Type" /></div>
    
    
    /* Contenu spécifique à chaque type de document */
    <switch test="$Type">
    
    /* TODO : factoriser le swith : Congrès et Livre presque identiques */
    
        <case test="'Article'">
<!--            <fieldset></fieldset>-->
            <fieldset label="Auteurs *">
                <textbox name="Aut" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Titre de l*****article *">
                <textbox name="Tit" rows="1" class="fullwidth autoheight mandatory" />
                <text name="Tit" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Année du document *">
                <textbox name="Date" class="fullwidth mandatory" />
            </fieldset>
            <fieldset label="Mentions bibliographiques">
                <div><textbox name="PdPf" label="Page début-fin *" class="fullwidth mandatory" /></div>
                <div><textbox name="Notes" label="Notes bibliographiques" rows="1" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Périodique">
                <div><textbox name="Rev" label="Titre du périodique *" rows="1" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Vol" label="Volume" class="fullwidth" /></div>
                <div><textbox name="Num" label="Numéro *" class="fullwidth mandatory" /></div>
            </fieldset>
            <fieldset label="Résumé">
                <textbox name="Resu" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Indexation">
                <div><textbox name="Theme" rows="1" label="Thème *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="MotCle" rows="1" label="Descripteurs *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Nomp" rows="1" label="Noms propres" class="fullwidth autoheight" /></div>
                <div><textbox name="CanDes" rows="1" label="Candidats descripteurs" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Lien vers le document">
                <textbox name="Lien" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Producteur de la fiche *">
                <textbox name="ProdFich" class="fullwidth mandatory" />
            </fieldset>
            <script type="text/javascript">ctrlInitialize("ControlsArticle");</script>            
        </case>
        
        <case test="'Congrès'">
            <fieldset label="Auteurs *">
                <textbox name="Aut" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Titre du document *">
                <textbox name="Tit" rows="1" clas="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Congrès">
                <div><textbox name="CongrTit" rows="1" label="Intitulé *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="CongrNum" label="Numéro *" class="fullwidth mandatory" /></div>
                <div><textbox name="CongrLie" label="Ville *" class="fullwidth mandatory" /></div>
                <div><textbox name="CongrDat" label="Année *" class="fullwidth mandatory" /></div>
            </fieldset>
            <fieldset label="Année du document *">
                <textbox name="Date" class="fullwidth mandatory" />
            </fieldset>
            <fieldset label="Mentions bibliographiques">
                <div><textbox name="Page" label="Nombre de pages *" class="fullwidth mandatory" /></div>
                <div><textbox name="Notes" label="Notes bibliographiques" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Edition">
                <div><textbox name="Edit" rows="1" label="Editeur(s) *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Lieu" rows="1" label="Lieu d*****édition *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Col" rows="1" label="Collection" class="fullwidth autoheight" /></div>
                <div><textbox name="Reed" rows="1" label="Mention d*****édition" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="ISBN / ISSN *">
                <textbox name="IsbnIssn" class="fullwidth mandatory" />
            </fieldset>
            <fieldset label="Résumé">
                <textbox name="Resu" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Indexation">
                <div><textbox name="Theme" rows="1" label="Thème *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="MotCle" rows="1" label="Descripteurs *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Nomp" rows="1" label="Noms propres" class="fullwidth autoheight" /></div>
                <div><textbox name="CanDes" rows="1" label="Candidats descripteurs" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Lien vers le document">
                <textbox name="Lien" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Localisation du document *">
                <textbox name="Loc" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Producteur de la fiche *">
                <textbox name="ProdFich" class="fullwidth mandatory" />
            </fieldset>
            <script type="text/javascript">ctrlInitialize("ControlsCongres");</script>
        </case>
        
        <case test="'Livre'">
            <fieldset label="Auteurs *">
                <textbox name="Aut" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Titre du document *">
                <textbox name="Tit" rows="1" clas="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Congrès">
                <div><textbox name="CongrTit" rows="1" label="Intitulé" class="fullwidth autoheight" /></div>
                <div><textbox name="CongrNum" label="Numéro" class="fullwidth" /></div>
                <div><textbox name="CongrLie" label="Ville" class="fullwidth" /></div>
                <div><textbox name="CongrDat" label="Année" class="fullwidth" /></div>
            </fieldset>
            <fieldset label="Année du document *">
                <textbox name="Date" class="fullwidth mandatory" />
            </fieldset>
            <fieldset label="Mentions bibliographiques">
                <div><textbox name="Page" label="Nombre de pages *" class="fullwidth mandatory" /></div>
                <div><textbox name="Notes" label="Notes bibliographiques" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Edition">
                <div><textbox name="Edit" rows="1" label="Editeur *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Lieu" rows="1" label="Lieu d*****édition *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Col" rows="1" label="Collection" class="fullwidth autoheight" /></div>
                <div><textbox name="Reed" rows="1" label="Mention d*****édition" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="ISBN / ISSN *">
                <textbox name="IsbnIssn" class="fullwidth mandatory" />
            </fieldset>
            <fieldset label="Résumé">
                <textbox name="Resu" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Indexation">
                <div><textbox name="Theme" rows="1" label="Thème *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="MotCle" rows="1" label="Descripteurs *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Nomp" rows="1" label="Noms propres" class="fullwidth autoheight" /></div>
                <div><textbox name="CanDes" rows="1" label="Candidats descripteurs" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Lien vers le document">
                <textbox name="Lien" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Localisation du document *">
                <textbox name="Loc" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Producteur de la fiche *">
                <textbox name="ProdFich" class="fullwidth mandatory" />
            </fieldset>
            <script type="text/javascript">ctrlInitialize("ControlsLivres");</script>        
        </case>
        
        <case test="$type=='Mémoire' || $type=='Thèse'">
            <fieldset label="Auteurs *">
                <textbox name="Aut" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Titre *">
                <textbox name="Tit" rows="1" clas="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Spécialité du diplôme *">
                <textbox name="DipSpe" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Edition">
                <div><textbox name="Edit" rows="1" label="Institution morale de rattachement *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Lieu" rows="1" label="Lieu d*****édition ou de soutenance *" class="fullwidth autoheight mandatory" /></div>
            </fieldset>
            <fieldset label="Mentions bibliographiques">
                <div><textbox name="Page" label="Nombre de pages *" class="fullwidth mandatory" /></div>
                <div><textbox name="Notes" label="Notes bibliographiques" rows="1" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Année de soutenance *">
                <textbox name="Date" class="fullwidth mandatory" />
            </fieldset>
            <fieldset label="Résumé">
                <textbox name="Resu" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Indexation">
                <div><textbox name="Theme" rows="1" label="Thème *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="MotCle" rows="1" label="Descripteurs *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Nomp" rows="1" label="Noms propres" class="fullwidth autoheight" /></div>
                <div><textbox name="CanDes" rows="1" label="Candidats descripteurs" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Lien vers le document">
                <textbox name="Lien" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Localisation du document *">
                <textbox name="Loc" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Producteur de la fiche *">
                <textbox name="ProdFich" class="fullwidth mandatory" />
            </fieldset>
            <script type="text/javascript">ctrlInitialize("ControlsMemoire");</script>

        </case>
        
        <case test="'Périodique'">
            <fieldset label="Titre du périodique *">
                <textbox name="Rev" rows="1" clas="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Date de vie et de mort *">
                <textbox name="ViePerio" class="fullwidth mandatory" />
            </fieldset>
            <fieldset label="Etat de la collection *">
                <textbox name="EtatCol" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="ISSN *">
                <textbox name="IsbnIssn" class="fullwidth mandatory" />
            </fieldset>
            <fieldset label="Notes">
                <textbox name="Notes" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Lien vers le document">
                <textbox name="Lien" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Producteur de la fiche *">
                <textbox name="ProdFich" class="fullwidth mandatory" />
            </fieldset>
            <script type="text/javascript">ctrlInitialize("ControlsPeriodique");</script>
        </case>
        
        <case test="'Rapport'">
            <fieldset label="Auteurs *">
                <textbox name="Aut" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Titre *">
                <textbox name="Tit" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Année du document *">
                <textbox name="Date" class="fullwidth mandatory" />
            </fieldset>
            <fieldset label="Nombre de pages"><textbox name="Page" class="fullwidth mandatory" /></fieldset>
            <fieldset label="Edition">
                <div><textbox name="Edit" rows="1" label="Editeur" class="fullwidth autoheight" /></div>
                <div><textbox name="Lieu" rows="1" label="Lieu d*****édition" class="fullwidth autoheight" /></div>
                <div><textbox name="Col" rows="1" label="Collection" class="fullwidth autoheight" /></div>
                <div><textbox name="Reed" rows="1" label="Mention d*****édition" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Périodique">
                <div><textbox name="Rev" rows="1" label="Titre du périodique" class="fullwidth autoheight" /></div>
                <div><textbox name="Vol" label="Volume" class="fullwidth" /></div>
                <div><textbox name="Num" label="Numéro" class="fullwidth" /></div>
            </fieldset>
            <fieldset label="ISBN / ISSN">
                <textbox name="IsbnIssn" class="fullwidth" />
            </fieldset>
            <fieldset label="Notes bibliographiques">
                <textbox name="Notes" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Résumé">
                <textbox name="Resu" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Indexation">
                <div><textbox name="Theme" rows="1" label="Thème *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="MotCle" rows="1" label="Descripteurs *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Nomp" rows="1" label="Noms propres" class="fullwidth autoheight" /></div>
                <div><textbox name="CanDes" rows="1" label="Candidats descripteurs" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Lien vers le document *">
                <textbox name="Lien" rows="1" class="fullwidth autoheight mandatory" />
            </fieldset>
            <fieldset label="Producteur de la fiche *">
                <textbox name="ProdFich" class="fullwidth mandatory" />
            </fieldset>
            <script type="text/javascript">ctrlInitialize("ControlsRapport");</script>
        </case>
        
        <case test="'Texte officiel'">
            <fieldset label="Nature du texte officiel *">
                <radiolist name="NatText" src="new Texttable($this->path.'nattext.txt')" class="mandatory" />
            </fieldset>
            <fieldset label="Titres du document">
                <div><textbox name="Tit" rows="1" label="Titre * " class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Annexe" rows="1" label="Titre de l*****annexe" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Dates">
                <div><textbox name="DateText" label="Date du texte officiel *" class="fullwidth mandatory" /></div>
                <div><textbox name="DatePub" label="Date de publication du texte officiel *" class="fullwidth mandatory" /></div>
                <div><textbox name="DateVali" label="Date de fin de validité du texte officiel" class="fullwidth" /></div>
            </fieldset>            
            <fieldset label="Périodique">
                <div><textbox name="Rev" rows="1" label="Titre du périodique *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Num" label="Numéro *" class="fullwidth mandatory" /></div>
            </fieldset>
            <fieldset label="Numéro du texte officiel">
                <textbox name="NumTextOf" class="fullwidth" />
            </fieldset>
            <fieldset label="Résumé">
                <textbox name="Resu" rows="1" class="fullwidth autoheight" />
            </fieldset>
            <fieldset label="Indexation">
                <div><textbox name="Theme" rows="1" label="Thème *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="MotCle" rows="1" label="Descripteurs *" class="fullwidth autoheight mandatory" /></div>
                <div><textbox name="Nomp" rows="1" label="Noms propres" class="fullwidth autoheight" /></div>
                <div><textbox name="CanDes" rows="1" label="Candidats descripteurs" class="fullwidth autoheight" /></div>
            </fieldset>
            <fieldset label="Versions électroniques des documents">
                <div><textbox name="Lien" rows="1" label="Lien vers le document *" class="fullwidth autoheight mandatory" /></div>
            </fieldset>
            <fieldset label="Producteur de la fiche *">
                <textbox name="ProdFich" class="fullwidth mandatory" />
            </fieldset>
            <script type="text/javascript">ctrlInitialize("ControlsTexteOfficiel");</script>
        </case>
        
    </switch>    
    
    
    
    <fieldset>
        <opt><legend>Gestion de la notice</legend></opt> 
        <div>
            <input type="hidden" name="FinSaisie" value="" />
            <checkbox name="FinSaisie" label="Notice à valider" value="1" />
        </div>
        <if test="User::hasAccess('AdminBase')">
            <div>
                <input type="hidden" name="Valide" value="1" />
                <checkbox name="Valide" label="Notice validée par un administrateur" value="1" />
            </div>
        </if>
    </fieldset>
    
    <opt>
        <fieldset>
            <opt><legend>Dates de création et de mise à jour de la notice</legend></opt>
            <div><p>Création : $Creation</p></div>
            <div><p>Mise à jour : $LastUpdate</p></div>
        </fieldset>
    </opt>
    
    <div><input type="hidden" name="ref" /></div>
    
    <div class="buttons">
        <submit label="Enregistrer" class="submit" />
    </div>
</form>

<opt>
    <if test="User::hasAccess('AdminBase')">
        <form method="post" class="reset form" action="delete">
            <div><input type="hidden" name="ref" /></div>
            <div class="buttons"><submit label="Supprimer" class="reset" /></div>
        </form>
    </if>
</opt>