/* Template pour factoriser l'affichage (notice courte) : pour presque tous les types de doc, il faut afficher
$Type, $Date, $Aut, $Tit : permet de le faire en une seule ligne
$Aut et $Tit sont sur la même ligne */
<template match="//TDAT">
    <row >$Type, $Date</row>
    <row label="Auteur(s), titre"><opt>$Aut, </opt><strong><Tit /></strong></row>
</template>

/* Template pour factoriser l'affichage (notice complète) : pour presque tous les types de doc, il faut afficher
$Type, $Date, $Tit, $Aut : permet de le faire en une seule ligne
$Aut et $Tit sont sur 2 lignes différentes */
<template match="//TDTA">
    <row >$Type, $Date 
	<img 
		class="locate"
		test="{$Tit != ''}" strip="{$Lien == ''}"
		src="/css/ascodocpsy/texte.gif" 
        align="top" 
        alt="Accès gratuit ou payant selon éditeur"
		title="Accès gratuit ou payant selon éditeur"
		width="22"
    />
	</row>
    <row label="Titre">
        <Tit />
    </row>
    <opt><row label="Auteur(s)">$Aut</row></opt>
</template>

/* Template pour afficher un titre de document et son lien (s'il en a un) */
<template match="//Tit">
    <a test="{$Tit != ''}" strip="{$Lien == ''}" href="{Routing::linkFor($Lien)}" onclick="window.open(this.href); return false;" title="Accéder au site éditeur (ouverture dans une nouvelle fenêtre)">$Tit</a>
</template>

/* Template pour l'affichage long des notices 
Template pour factoriser l'affichage : pour presque tous les types de doc, il faut afficher
$MotCle/$Theme, $CanDes/$Nomp et $Resu : permet de le faire en une seule ligne */
<template match="//MTCNR">
    <opt><row label="Descripteurs SantéPsy">$MotCle<opt> / $Theme</opt></row></opt>
    <opt><row label="Autres descripteurs">
    	<if test="{! $CanDes}">
			<opt>$Nomp</opt>
		</if>
		<else>
			$CanDes<opt> / $Nomp</opt>
		</else>
    </row></opt>
    <opt><row label="Résumé">{Utils::autoLink($Resu)}</row></opt>
</template>

/* Template pour afficher l'ISBN */
<template match="//Isbn">
    <opt><row label="ISBN">{implode(' / ',(array)$IsbnIssn)}</row></opt>
</template>

/* Template pour afficher le champ Notes en activant l'option autolink */
<template match="//Notes" label="Notes">
    <opt><row label="$label">{Utils::autoLink($Notes)}</row></opt>
</template>

/* Template pour afficher un <label> et une <div class="row"> dans une autre <div class="field"> */
<template match="//row" label="" class="" value="" test="{true}">
    <div test="$test" class="row $class">
        <label test="$label" class="field $class">$label</label>
        <div class="field $class">
            {select('string(@value)')}{select('./node()')}{select('@*')}
        </div>
    </div>
</template>

/* Template pour afficher le lien vers la localisation d'un titre de périodique */
<template match="//Localisation">
	<if test="{User::hasAccess('AdminBase') || User::hasAccess('EditBase')}">
		<a 
            class="locate" 
            test="{$Rev}" 
            href="/{$this->module}/Locate?Rev={urlencode(trim(Utils::convertString($this->selection['Rev'],'alphanum')))}"
            onclick="window.open(this.href); return false;" 
            title="Localiser le périodique (ouverture dans une nouvelle fenêtre)">
            <img 
                src="/css/ascodocpsy/loc.png" 
                align="top" 
                alt="Localisation"
            />
        </a>
	</if>
</template>

/* Template pour afficher les informations techniques sur la requête et la réponse en cours (debug uniquement) */
<template match="//searchinfo" for="">
    <p test="{debug}" style="color: #888; text-align: left; margin: 0 0 0.2em 0; padding: 0;">
        <strong>$for</strong> : 
        <code style="background-color: #FFFFBB; font-size: 120%;">
            {implode(', ', (array)$this->selection->searchInfo($for))}
            {select('text()')}
        </code>
    </p>
</template>

/* Template pour afficher le lien vers l'aide en ligne (search, list, show) */
<template match="//help" href="" label="Besoin d'aide ?" title="Afficher l'aide">
    <a 
        href="$href" 
        title="$title (nouvelle fenêtre/nouvel onglet)" 
        target="_blank" 
        class="help" 
        style="float: right;"
        >
        <strong style="padding-left: 4em">$label</strong>
    </a>
</template>