<div class="titre">Aucune réponse</div>
<div class="texte">
	<p class="spip">$message</p>
    <ol>
        <li>Votre recherche est trop restrictive&#160;? Supprimez des critères de recherche.</li>
        <li>Utilisez la zone "Recherche dans toute la base" du formulaire de recherche.</li>
        <li>Vérifiez l’orthographe des mots recherchés.</li>
    </ol>
    
    <p class="spip">Retournez sur la page précédente pour <a href="{$this->request->copy()->clearNull()->setAction('SearchForm')}">modifier vos critères de recherche</a>.</p>
    
</div>