<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <module>CartModule</module>
    <quantity>false</quantity>
    <actionAdd>
        <template>added.html</template>
    </actionAdd>
    <actionRemove>
        <template>removed.html</template>
    </actionRemove>
    <actionClear>
        <template>cleared.html</template>
    </actionClear>
    <actionShow>
        <template>show.html</template>
        <css>
            <item>/fabweb/css/pager/simple.css</item>
        </css>
        <js>
            <item>jquery.js</item>
            <item>/js/answers.js</item>
        </js>
    </actionShow>
</config>
