<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <module>CartModule</module>
    <quantity>false</quantity>
    <actionAdd>
        <template>added.html</template>
    </actionAdd>
    <actionRemove>
        <template>removed.html</template>
    </actionRemove>
    <actionClear>
        <template>cleared.html</template>
    </actionClear>
</config>
