<?xml version="1.0" encoding="UTF-8"?>
<config>
    <api>
        <item>
            <description>Présentation</description>
            <doc>
                <item>index.xml</item>
                <item>introduction.xml</item>
                <item>Base.xml</item>
            </doc>
        </item>
        <item>
            <description>API</description>
            <doc>
                <item>Base</item>
                <item>AscoCart</item>
                <item>ImportAsco</item>
                <item>Thesaurus</item>
                <item>SpipSecurity</item>
            </doc>
        </item>
    </api>
</config>