<config>
    <css>
        <item>formulaire.css</item>
        <item>rpc.css</item>
    </css>
    <js>
        <item>jquery.js</item>
    </js>
    <database>ascodocpsy</database>
    <templates>
        <autoinclude>
            <templates>templates/include/templates.html</templates>
        </autoinclude>
    </templates>
    <urlarticle>http://www.ascodocpsy.org/article.php3?id_article=</urlarticle>
    <filter>
        <AdminBase />
        <EditBase />
        <cli />
        <default>Statut:valide sauf Type:Periodique</default>
    </filter>
    <actionSearchForm>
        <template>templates/search.html</template>
        <js>
            <item>rpc.js</item>
        </js>
    </actionSearchForm>
    <actionSearch>
        <template>templates/list.html</template>
        <errortemplate>templates/error/error_base.html</errortemplate>
        <noanswertemplate>templates/error/error_base_noanswer.html</noanswertemplate>
        <callback>getField</callback>
        <sort>-</sort>
        <max>10</max>
    </actionSearch>
    <actionShow>
        <template>templates/show.html</template>
        <callback>getField</callback>
        <errortemplate>templates/error/error_base.html</errortemplate>
        <noanswertemplate>templates/error/error_base_noanswer.html</noanswertemplate>
    </actionShow>
    <actionLoad>
        <access>AdminBase,EditBase</access>
        <js>
            <item>rpc.js</item>
            <item>autosize.js</item>
            <item>controls.js</item>
            <item>load.js</item>
        </js>
        <template>templates/load.html</template>
        <errortemplate>templates/error/error_base.html</errortemplate>
        <callback>getDates</callback>
    </actionLoad>
    <actionLoadFull>
        <action>actionLoad</action>
        <access>AdminBase</access>
        <template>templates/load.html</template>
        <callback>getDates</callback>
        <allfields>true</allfields>
    </actionLoadFull>
    <actionNew>
        <access>AdminBase, EditBase</access>
        <js>
            <item>rpc.js</item>
            <item>autosize.js</item>
            <item>controls.js</item>
            <item>load.js</item>
        </js>
        <template>templates/load.html</template>
        <callback>emptyString</callback>
    </actionNew>
    <actionSave>
        <access>AdminBase,EditBase</access>
        <callback>validData</callback>
    </actionSave>
    <actionDelete>
        <access>AdminBase</access>
        <template>templates/deleted.html</template>
        <errortemplate>templates/error/error_base.html</errortemplate>
    </actionDelete>
    <actionReplaceForm>
        <access>AdminBase</access>
        <template>templates/replaceform.html</template>
    </actionReplaceForm>
    <actionReplace>
        <access>AdminBase</access>
        <template>templates/replaced.html</template>
    </actionReplace>
    <actionLocate>
        <access>AdminBase,EditBase</access>
        <template>templates/show.html</template>
        <errortemplate>templates/error/error.html</errortemplate>
        <callback>getField</callback>
    </actionLocate>
    <actionInform>
        <errortemplate>templates/error/error.html</errortemplate>
    </actionInform>
    <actionImport>
        <access>AdminBase,EditBase</access>
    </actionImport>
    <actionImportFiles>
        <access>cli</access>
    </actionImportFiles>
    <actionSortDb>
        <access>cli, AdminBase</access>
        <sortkey>Date:DateText:CongrDat,8,KeyDate,+ ; Type,20,KeyTextIgnoreCase,+ ; Rev,50,KeyTextIgnoreCase,-</sortkey>
    </actionSortDb>
    <actionValidateAll>
        <access>AdminBase</access>
    </actionValidateAll>
    <actionShowCaddie>
        <action>actionSearch</action>
        <slots>
            <header>templates/caddieHeader.html</header>
        </slots>
        <incart>true</incart>
    </actionShowCaddie>
    <actionExport>
        <formats inherit="false">
            <csv>
                <label>Format texte tabulé</label>
                <access>AdminBase,EditBase</access>
                <template>templates/export/csv.txt</template>
                <content-type>text/plain; charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="export.csv"</content-disposition>
                <sep>
                    <LienAnne> ; </LienAnne>
                    <default>/</default>
                </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>300</default>
                </max>
            </csv>
            <vancouver>
                <label>Vancouver</label>
                <template>templates/export/vancouver.txt</template>
                <content-type>text/plain; charset=iso-8859-1</content-type>
                <content-disposition>inline; filename="export.txt"</content-disposition>
                <default>true</default>
                <sep>, </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>300</default>
                </max>
                <callback>exportData</callback>
            </vancouver>
        </formats>
    </actionExport>
    <actionExportByCat>
        <action>actionExport</action>
        <formats inherit="false">
            <csv>
                <label>Format commun texte tabulé, par type de document</label>
                <access>AdminBase,EditBase</access>
                <template>templates/export/csvtype.txt</template>
                <content-type>text/plain; charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="export.csv"</content-disposition>
                <default>true</default>
                <sep>
                    <LienAnne> ; </LienAnne>
                    <default>/</default>
                </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>300</default>
                </max>
                <fields>
                    <article>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>Rev</item>
                        <item>Vol</item>
                        <item>Num</item>
                        <item>PdPf</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>ProdFich</item>
                    </article>
                    <congrès>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>CongrTit</item>
                        <item>CongrNum</item>
                        <item>CongrLie</item>
                        <item>CongrDat</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Col</item>
                        <item>Reed</item>
                        <item>Page</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>IsbnIssn</item>
                        <item>ProdFich</item>
                        <item>Loc</item>
                    </congrès>
                    <livre>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>CongrTit</item>
                        <item>CongrNum</item>
                        <item>CongrLie</item>
                        <item>CongrDat</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Col</item>
                        <item>Reed</item>
                        <item>Page</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>IsbnIssn</item>
                        <item>ProdFich</item>
                        <item>Loc</item>
                    </livre>
                    <mémoire>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>DipSpe</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Page</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>ProdFich</item>
                        <item>Loc</item>
                    </mémoire>
                    <périodique>
                        <item>Type</item>
                        <item>Rev</item>
                        <item>ViePerio</item>
                        <item>EtatCol</item>
                        <item>IsbnIssn</item>
                        <item>Notes</item>
                        <item>Lien</item>
                        <item>ProdFich</item>
                    </périodique>
                    <rapport>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Col</item>
                        <item>Reed</item>
                        <item>Page</item>
                        <item>Rev</item>
                        <item>Vol</item>
                        <item>Num</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>IsbnIssn</item>
                        <item>ProdFich</item>
                    </rapport>
                    <texte_officiel>
                        <item>Type</item>
                        <item>NatText</item>
                        <item>DateText</item>
                        <item>DatePub</item>
                        <item>Tit</item>
                        <item>Rev</item>
                        <item>Num</item>
                        <item>NumTexOf</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Annexe</item>
                        <item>LienAnne</item>
                        <item>DateVali</item>
                        <item>ProdFich</item>
                    </texte_officiel>
                </fields>
            </csv>
            <vancouver>
                <label>Format Vancouver, par type de document</label>
                <template>templates/export/vancouver.txt</template>
                <content-type>text/plain; charset=iso-8859-1</content-type>
                <content-disposition>inline; filename="export.txt"</content-disposition>
                <sep>, </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>300</default>
                </max>
                <callback>exportData</callback>
            </vancouver>
        </formats>
    </actionExportByCat>
</config>
