<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <CSS>
        <item>formulaire.css</item>
        <item>rpc.css</item>
    </CSS>
    <JS>
        <item>/fabweb/js/lib/jquery/jquery-1.2.1.min.js</item>
    </JS>
    <database>ascodocpsy</database>
    <templates>
        <autoinclude>
            <templates>templates/include/templates.html</templates>
            <csvtype>templates/include/csvtype.txt</csvtype>
            <csv>templates/include/csv.txt</csv>
            <vancouver>templates/include/vancouver.txt</vancouver>
        </autoinclude>
    </templates>
    <urlarticle>http://www.ascodocpsy.org/article.php3?id_article=</urlarticle>
    <filter>
        <AdminBase />
        <EditBase />
        <cli />
        <default>(NOT Type:Periodique) AND Statut:valide</default>
    </filter>
    <searchform>
        <template>templates/search.html</template>
        <JS>
            <item>/fabweb/js/rpc.js</item>
        </JS>
    </searchform>
    <search>
        <template>templates/list.html</template>
        <errortemplate>templates/error/error_base.html</errortemplate>
        <noanswertemplate>templates/error/error_base_noanswer.html</noanswertemplate>
        <callback>getField</callback>
        <sort>-</sort>
        <max>10</max>
    </search>
    <show>
        <template>templates/show.html</template>
        <callback>getField</callback>
        <errortemplate>templates/error/error_base.html</errortemplate>
        <noanswertemplate>templates/error/error_base_noanswer.html</noanswertemplate>
    </show>
    <load>
        <access>AdminBase,EditBase</access>
        <JS>
            <item>/fabweb/js/rpc.js</item>
            <item>autosize.js</item>
            <item>controls.js</item>
            <item>load.js</item>
        </JS>
        <template>templates/load.html</template>
        <errortemplate>templates/error/error_base.html</errortemplate>
        <callback>getDates</callback>
    </load>
    <loadfull>
        <action>load</action>
        <access>AdminBase</access>
        <template>templates/load.html</template>
        <callback>getDates</callback>
        <allfields>true</allfields>
    </loadfull>
    <new>
        <access>AdminBase, EditBase</access>
        <JS>
            <item>/fabweb/js/rpc.js</item>
            <item>autosize.js</item>
            <item>controls.js</item>
            <item>load.js</item>
        </JS>
        <template>templates/load.html</template>
        <callback>emptyString</callback>
    </new>
    <save>
        <access>AdminBase,EditBase</access>
        <callback>validData</callback>
    </save>
    <delete>
        <access>AdminBase</access>
        <template>templates/deleted.html</template>
        <errortemplate>templates/error/error_base.html</errortemplate>
    </delete>
    <replaceForm>
        <access>AdminBase</access>
        <template>templates/replaceform.html</template>
    </replaceForm>
    <replace>
        <access>AdminBase</access>
        <template>templates/replaced.html</template>
    </replace>
    <locate>
        <access>AdminBase,EditBase</access>
        <template>templates/show.html</template>
        <errortemplate>templates/error/error.html</errortemplate>
        <callback>getField</callback>
    </locate>
    <inform>
        <errortemplate>templates/error/error.html</errortemplate>
    </inform>
    <import>
        <access>AdminBase,EditBase</access>
    </import>
    <importfiles>
        <access>cli</access>
    </importfiles>
    <sortdb>
        <access>cli, AdminBase</access>
        <sortkey>Date:DateText:CongrDat,8,KeyDate,+ ; Type,20,KeyTextIgnoreCase,+ ; Rev,50,KeyTextIgnoreCase,-</sortkey>
    </sortdb>
    <validateall>
        <access>AdminBase</access>
    </validateall>
    <showcaddie>
        <action>search</action>
        <slots>
            <header>templates/caddieHeader.html</header>
        </slots>
        <incart>true</incart>
    </showcaddie>
    <export>
        <formats inherit="false">
            <csv>
                <label>Format texte tabulé</label>
                <access>AdminBase,EditBase</access>
                <template>templates/export/csv.txt</template>
                <content-type>text/plain; charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="export.csv"</content-disposition>
                <sep>
                    <LienAnne> ; </LienAnne>
                    <default>/</default>
                </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>300</default>
                </max>
            </csv>
            <vancouver>
                <label>Vancouver</label>
                <template>templates/export/vancouver.txt</template>
                <content-type>text/plain; charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="export.txt"</content-disposition>
                <default>true</default>
                <sep>, </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>300</default>
                </max>
                <callback>exportData</callback>
            </vancouver>
        </formats>
    </export>
    <exportbycat>
        <action>export</action>
        <formats inherit="false">
            <csvParType>
                <label>Format commun texte tabulé, par type de document</label>
                <access>AdminBase,EditBase</access>
                <template>templates/export/csvtype.txt</template>
                <content-type>text/plain; charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="export.csv"</content-disposition>
                <default>true</default>
                <sep>
                    <LienAnne> ; </LienAnne>
                    <default>/</default>
                </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>300</default>
                </max>
                <fields>
                    <Article>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>Rev</item>
                        <item>Vol</item>
                        <item>Num</item>
                        <item>PdPf</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>ProdFich</item>
                    </Article>
                    <Congrès>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>CongrTit</item>
                        <item>CongrNum</item>
                        <item>CongrLie</item>
                        <item>CongrDat</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Col</item>
                        <item>Reed</item>
                        <item>Page</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>IsbnIssn</item>
                        <item>ProdFich</item>
                        <item>Loc</item>
                    </Congrès>
                    <Livre>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>CongrTit</item>
                        <item>CongrNum</item>
                        <item>CongrLie</item>
                        <item>CongrDat</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Col</item>
                        <item>Reed</item>
                        <item>Page</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>IsbnIssn</item>
                        <item>ProdFich</item>
                        <item>Loc</item>
                    </Livre>
                    <Mémoire>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>DipSpe</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Page</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>ProdFich</item>
                        <item>Loc</item>
                    </Mémoire>
                    <Périodique>
                        <item>Type</item>
                        <item>Rev</item>
                        <item>ViePerio</item>
                        <item>EtatCol</item>
                        <item>IsbnIssn</item>
                        <item>Notes</item>
                        <item>Lien</item>
                        <item>ProdFich</item>
                    </Périodique>
                    <Rapport>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Col</item>
                        <item>Reed</item>
                        <item>Page</item>
                        <item>Rev</item>
                        <item>Vol</item>
                        <item>Num</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>IsbnIssn</item>
                        <item>ProdFich</item>
                    </Rapport>
                    <Texte_officiel>
                        <item>Type</item>
                        <item>NatText</item>
                        <item>DateText</item>
                        <item>DatePub</item>
                        <item>Tit</item>
                        <item>Rev</item>
                        <item>Num</item>
                        <item>NumTexOf</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Annexe</item>
                        <item>LienAnne</item>
                        <item>DateVali</item>
                        <item>ProdFich</item>
                    </Texte_officiel>
                </fields>
            </csvParType>
            <vancouver>
                <label>Format Vancouver, par type de document</label>
                <template>templates/export/vancouver.txt</template>
                <content-type>text/plain; charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="export.txt"</content-disposition>
                <sep>, </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>300</default>
                </max>
                <callback>exportData</callback>
            </vancouver>
        </formats>
    </exportbycat>
</config>
