<?xml version="1.0" encoding="UTF-8"?>
<config>
    <defaultop>OR</defaultop>
    <opanycase>false</opanycase>
    <js>
        <item>jquery.js</item>
    </js>
    <database>ascodocpsy</database>
    <templates>
        <autoinclude>
            <show>templates/include/templates.html</show>
        </autoinclude>
    </templates>
    <urlarticle>http://www.ascodocpsy.org/article.php3?id_article=</urlarticle>
    <filter>
        <AdminBase />
        <EditBase />
        <cli />
        <default>Statut:valide SAUF Type:Periodique</default>
    </filter>
    <help>
        <Annexe>http://www.ascodocpsy.org/article.php3?id_article=872</Annexe>
        <Aut>http://www.ascodocpsy.org/article.php3?id_article=839</Aut>
        <CanDes>http://www.ascodocpsy.org/article.php3?id_article=863</CanDes>
        <Col>http://www.ascodocpsy.org/article.php3?id_article=843</Col>
        <CongrDat>http://www.ascodocpsy.org/article.php3?id_article=858</CongrDat>
        <CongrLie>http://www.ascodocpsy.org/article.php3?id_article=857</CongrLie>
        <CongrNum>http://www.ascodocpsy.org/article.php3?id_article=856</CongrNum>
        <CongrTit>http://www.ascodocpsy.org/article.php3?id_article=855</CongrTit>
        <Date>http://www.ascodocpsy.org/article.php3?id_article=850</Date>
        <DatePub>http://www.ascodocpsy.org/article.php3?id_article=860</DatePub>
        <DateText>http://www.ascodocpsy.org/article.php3?id_article=859</DateText>
        <DateVali>http://www.ascodocpsy.org/article.php3?id_article=873</DateVali>
        <DipSpe>http://www.ascodocpsy.org/article.php3?id_article=854</DipSpe>
        <Edit>http://www.ascodocpsy.org/article.php3?id_article=842</Edit>
        <EtatCol>http://www.ascodocpsy.org/article.php3?id_article=853</EtatCol>
        <IsbnIssn>http://www.ascodocpsy.org/article.php3?id_article=874</IsbnIssn>
        <Lien>http://www.ascodocpsy.org/article.php3?id_article=869</Lien>
        <LienAnne>http://www.ascodocpsy.org/article.php3?id_article=871</LienAnne>
        <Lieu>http://www.ascodocpsy.org/article.php3?id_article=846</Lieu>
        <Loc>http://www.ascodocpsy.org/article.php3?id_article=868</Loc>
        <MotCle>http://www.ascodocpsy.org/article.php3?id_article=862</MotCle>
        <Nomp>http://www.ascodocpsy.org/article.php3?id_article=865</Nomp>
        <Notes>http://www.ascodocpsy.org/article.php3?id_article=867</Notes>
        <Num>http://www.ascodocpsy.org/article.php3?id_article=849</Num>
        <NumTexOf>http://www.ascodocpsy.org/article.php3?id_article=861</NumTexOf>
        <Page>http://www.ascodocpsy.org/article.php3?id_article=845</Page>
        <PdPf>http://www.ascodocpsy.org/article.php3?id_article=851</PdPf>
        <ProdFich>http://www.ascodocpsy.org/article.php3?id_article=870</ProdFich>
        <Reed>http://www.ascodocpsy.org/article.php3?id_article=844</Reed>
        <Resu>http://www.ascodocpsy.org/article.php3?id_article=866</Resu>
        <Rev>http://www.ascodocpsy.org/article.php3?id_article=847</Rev>
        <Theme>http://www.ascodocpsy.org/article.php3?id_article=864</Theme>
        <Tit>http://www.ascodocpsy.org/article.php3?id_article=841</Tit>
        <ViePerio>http://www.ascodocpsy.org/article.php3?id_article=852</ViePerio>
        <Vol>http://www.ascodocpsy.org/article.php3?id_article=848</Vol>            
    </help>
    <actionSearchForm>
        <sessions><use>true</use></sessions>
        <template>templates/search.html</template>
        <js>
            <item>rpc.js</item>
            <item>autosize.js</item>
        </js>
        <css>
            <item>formulaire.css</item>
            <item>/css/ascodocpsy/search.css</item>
            <item>rpc.css</item>
        </css>
    </actionSearchForm>
    <actionSearch>
        <template>templates/list.html</template>
        <css>
            <item>/fabweb/css/pager/simple.css</item>
        </css>
        <js>
            <item>/js/answers.js</item>
        </js>
        <errortemplate>templates/error/error_base.html</errortemplate>
        <noanswertemplate>templates/error/error_base_noanswer.html</noanswertemplate>
        <callback>getField</callback>
        <sort>%</sort>
        <max>10</max>
        <history>true</history>
        <logfile>/Base/actionSearch/%y-%m-%d.log</logfile>
        <logformat>%Y/%m/%d, %H:%M:%S, %user.login, %user.rights, %equation, %count, %fmt, %sort, %max, %start</logformat>
    </actionSearch>
    <actionShow>
        <template>templates/show.html</template>
        <callback>getField</callback>
        <errortemplate>templates/error/error_base.html</errortemplate>
        <noanswertemplate>templates/error/error_base_noanswer.html</noanswertemplate>
        <js>
            <item>/js/answers.js</item>
        </js>
        <logfile>/Base/actionShow/%y-%m-%d.log</logfile>
        <logformat>%Y/%m/%d, %H:%M:%S, %user.login, %user.rights, %ref</logformat>
    </actionShow>
    <actionLoad>
        <access>AdminBase,EditBase</access>
        <js>
            <item>rpc.js</item>
            <item>autosize.js</item>
            <item>controls.js</item>
            <item>load.js</item>
            <item>/fabweb/js/thesaurus.js</item>
            <item>/js/dedup.js</item>
        </js>
        <css>
            <item>formulaire.css</item>
            <item>load.css</item>
            <item>rpc.css</item>
            <item>/fabweb/css/thesaurus/thesaurus.css</item>
        </css>
        <templates>
            <autoinclude>
                <load>templates/include/loadtemplates.html</load>
            </autoinclude>
        </templates>
        <template>templates/load.html</template>
        <errortemplate>templates/error/error_base.html</errortemplate>
        <callback>getDates</callback>
    </actionLoad>
    <actionLoadFull>
        <action>actionLoad</action>
        <access>AdminBase</access>
        <template>templates/load.html</template>
        <callback>getDates</callback>
        <allfields>true</allfields>
    </actionLoadFull>
    <actionNew>
        <access>AdminBase, EditBase</access>
        <js>
            <item>rpc.js</item>
            <item>autosize.js</item>
            <item>controls.js</item>
            <item>load.js</item>
            <item>/js/dedup.js</item>
            <item>/fabweb/js/thesaurus.js</item>
        </js>
        <css>
            <item>formulaire.css</item>
            <item>load.css</item>
            <item>rpc.css</item>
            <item>/fabweb/css/thesaurus/thesaurus.css</item>
        </css>
        <templates>
            <autoinclude>
                <load>templates/include/loadtemplates.html</load>
            </autoinclude>
        </templates>
        <template>templates/load.html</template>
        <callback>emptyString</callback>
    </actionNew>
    <actionDuplicate>
        <access>AdminBase,EditBase</access>
        <js>
            <item>rpc.js</item>
            <item>autosize.js</item>
            <item>controls.js</item>
            <item>load.js</item>
            <item>/fabweb/js/thesaurus.js</item>
            <item>/js/dedup.js</item>
        </js>
        <css>
            <item>formulaire.css</item>
            <item>load.css</item>
            <item>rpc.css</item>
            <item>/fabweb/css/thesaurus/thesaurus.css</item>
        </css>
        <templates>
            <autoinclude>
                <load>templates/include/loadtemplates.html</load>
            </autoinclude>
        </templates>
        <template>templates/load.html</template>
        <errortemplate>templates/error/error_base.html</errortemplate>
        <fields>
            <default>true</default>
            
            <!-- 
                Par défaut, tous les champs de la notice sont dupliqués,
                sauf ceux qui sont indiqués ci-dessous.
                Si on souhaitait le comportement inverse (ne dupliquer que les
                champs qu'on indique, il faudrait mettre default à "false" et
                indiquer ensuite "true" pour chacun des champs à copier.  
            -->
            
            <REF>false</REF>
            <ProdFich>false</ProdFich>
            <Statut>false</Statut>
            <Doublon>false</Doublon>
            <Creation>false</Creation>
            <LastUpdate>false</LastUpdate>
            <LastAuthor>false</LastAuthor>
        </fields>
    </actionDuplicate>
    <actionSave>
        <access>AdminBase,EditBase</access>
        <callback>validData</callback>
    </actionSave>
    <actionConfirmDelete>
        <access>AdminBase</access>
    </actionConfirmDelete>
    <actionDelete>
        <access>AdminBase,cli</access> 
        <!-- fixme: on est obligé d'ajouter cli pour permettre la suppression depuis une tâche. Sur le fond, il faudrait que la tâche hérite du User en cours au moment où la tâche a été créé -->
        
        <!-- <template>templates/deleted.html</template> -->
        <errortemplate>templates/error/error_base.html</errortemplate>
    </actionDelete>
    <actionReplaceForm>
        <access>AdminBase</access>
        <!-- <template>templates/replaceform.html</template>  -->
    </actionReplaceForm>
    <actionReplace>
        <access>AdminBase,cli</access>
        <template>templates/replaced.html</template>
    </actionReplace>
    <actionValidate>
        <access>AdminBase,cli</access>
        <template>templates/validated.html</template>
    </actionValidate>
    <actionLocate>
        <access>AdminBase,EditBase</access>
        <template>templates/show.html</template>
        <errortemplate>templates/error/error.html</errortemplate>
        <callback>getField</callback>
        <js>
            <item>/js/answers.js</item>
        </js>
    </actionLocate>
    <actionInform>
        <errortemplate>templates/error/error.html</errortemplate>
        <filter>
            <AdminBase />
            <EditBase />
            <cli />
            <default>Statut:valide</default>
        </filter>
    </actionInform>
    <actionImport>
        <access>AdminBase,EditBase</access>
    </actionImport>
    <actionImportFiles>
        <access>cli</access>
    </actionImportFiles>
    <actionShowCaddie>
        <template>templates/showCaddie.html</template>
        <noanswertemplate>templates/emptyCart.html</noanswertemplate>
        <slots>
            <header>none</header>
        </slots>
        <incart>true</incart>
        <history>false</history>
        <css>
            <item>/fabweb/css/pager/simple.css</item>
        </css>
        <js>
            <item>/js/answers.js</item>
        </js>
        <logfile /> <!-- Permet d'annuler les log de l'action Search (l'action ShowCaddie appelle en fait l'action Search) -->
    </actionShowCaddie>
    <actionExport>
        <css>
            <item>formulaire.css</item>
        </css>
        <formats inherit="false">
            <vancouver>
                <label>Vancouver</label>
                <description>
                    Le format Vancouver est une norme mettant en forme des références bibliographiques.
                    Il est consultable à l'aide de n'importe quel traitement de texte.
                </description>
                <plus>false</plus>
                <template>templates/export/vancouver.txt</template>
                <content-type>text/plain;charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="export.txt"</content-disposition>
                <default> <!-- vancouver = format par défaut pour le grand public -->
                    <AdminBase>false</AdminBase>
                    <EditBase>false</EditBase>
                    <default>true</default>
                </default>
                <sep>, </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>100</default>
                </max>
                <callback>exportData</callback>
            </vancouver>
            <vancouverplus>
                <label>Vancouver "plus"</label>
                <description>
                    Idem format Vancouver, avec mots-clés et résumé en plus.
                </description>
                <plus>true</plus>
                <template>templates/export/vancouver.txt</template>
                <content-type>text/plain;charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="export.txt"</content-disposition>
                <sep>, </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>100</default>
                </max>
                <callback>exportData</callback>
            </vancouverplus>
            <csv>
                <label>Format commun texte tabulé</label>
                <description>
                    Format d'import/export utilisable par de nombreux logiciels.
                    Il s'agit d'un fichier texte dans lequel les données sont représentées sous forme de tableau.
                    La première ligne indique les noms des champs, les lignes suivantes contiennent les notices.
                    Chaque champ est séparé du suivant par une tabulation.
                </description>
                <access>AdminBase,EditBase</access>
                <template>templates/export/csv.txt</template>
                <content-type>text/plain;charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="export.txt"</content-disposition>
                <default> <!-- csv = format par défaut pour les admin -->
                    <AdminBase>true</AdminBase>
                    <EditBase>true</EditBase>
                    <default>false</default>
                </default>
                <sep>
                    <LienAnne> ; </LienAnne>
                    <default>/</default>
                </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>100</default>
                </max>
                <ignore>
                    <item>REF</item>
                    <item>Statut</item>
                    <item>Doublon</item>
                    <item>Creation</item>
                    <item>LastUpdate</item>
                    <item>LastAuthor</item>
                </ignore>
            </csv>
        </formats>
    </actionExport>
    <actionExportByType>
        <template>templates/exportbytype.html</template>
    </actionExportByType>
    <actionExportByCat>
        <action>actionExport</action>
        <formats inherit="false">
            <vancouver>
                <label>Vancouver, par type de document</label>
                <description>
                    Le format Vancouver est une norme mettant en forme des références bibliographiques.
                    Il est consultable à l'aide de n'importe quel traitement de texte.
                </description>
                <plus>false</plus>
                <template>templates/export/vancouver.txt</template>
                <content-type>text/plain;charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="%s.txt"</content-disposition>
                <default> <!-- vancouver = format par défaut pour le grand public -->
                    <AdminBase>false</AdminBase>
                    <EditBase>false</EditBase>
                    <default>true</default>
                </default>
                <sep>, </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>100</default>
                </max>
                <callback>exportData</callback>
            </vancouver>
            <vancouverplus>
                <label>Vancouver "plus", par type de document</label>
                <description>
                    Idem format Vancouver, avec mots-clés et résumé en plus.
                </description>
                <plus>true</plus>
                <template>templates/export/vancouver.txt</template>
                <content-type>text/plain;charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="%s.txt"</content-disposition>
                <sep>, </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>100</default>
                </max>
                <callback>exportData</callback>
            </vancouverplus>
            <csv>
                <label>Format commun texte tabulé</label>
                <description>
                    Format d'import/export utilisable par de nombreux logiciels.
                    Il s'agit d'un fichier texte dans lequel les données sont représentées sous forme de tableau.
                    La première ligne indique les noms des champs, les lignes suivantes contiennent les notices.
                    Chaque champ est séparé du suivant par une tabulation. Ce format contient tous les champs
                    de la base.
                </description>
                <access>AdminBase,EditBase</access>
                <template>templates/export/csv.txt</template>
                <content-type>text/plain;charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="export.txt"</content-disposition>
                <sep>
                    <LienAnne> ; </LienAnne>
                    <default>/</default>
                </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>100</default>
                </max>
                <ignore>
                    <item>REF</item>
                    <item>Statut</item>
                    <item>Doublon</item>
                    <item>Creation</item>
                    <item>LastUpdate</item>
                    <item>LastAuthor</item>
                </ignore>
            </csv>
            <csvtype>
                <label>Format commun texte tabulé, par type de document</label>
                <description>
                    Format d'import/export utilisable par de nombreux logiciels.
                    Il s'agit d'un fichier texte dans lequel les données sont représentées sous forme de tableau.
                    La première ligne indique les noms des champs, les lignes suivantes contiennent les notices.
                    Chaque champ est séparé du suivant par une tabulation. Ce format ne contient que les champs
                    spécifiques à chaque type de document.
                </description>
                <access>AdminBase,EditBase</access>
                <template>templates/export/csvtype.txt</template>
                <content-type>text/plain;charset=iso-8859-1</content-type>
                <content-disposition>attachment; filename="%s.txt"</content-disposition>
                <default> <!-- csv = format par défaut pour les admin -->
                    <AdminBase>true</AdminBase>
                    <EditBase>true</EditBase>
                    <default>false</default>
                </default>
                <sep>
                    <LienAnne> ; </LienAnne>
                    <default>/</default>
                </sep>
                <max>
                    <AdminBase>-1</AdminBase>
                    <EditBase>3000</EditBase>
                    <default>100</default>
                </max>
                <fields>
                    <article>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>Rev</item>
                        <item>Vol</item>
                        <item>Num</item>
                        <item>PdPf</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>ProdFich</item>
                    </article>
                    <congrès>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>CongrTit</item>
                        <item>CongrNum</item>
                        <item>CongrLie</item>
                        <item>CongrDat</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Col</item>
                        <item>Reed</item>
                        <item>Page</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>IsbnIssn</item>
                        <item>ProdFich</item>
                        <item>Loc</item>
                    </congrès>
                    <livre>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>CongrTit</item>
                        <item>CongrNum</item>
                        <item>CongrLie</item>
                        <item>CongrDat</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Col</item>
                        <item>Reed</item>
                        <item>Page</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>IsbnIssn</item>
                        <item>ProdFich</item>
                        <item>Loc</item>
                    </livre>
                    <mémoire>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>DipSpe</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Page</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>ProdFich</item>
                        <item>Loc</item>
                    </mémoire>
                    <périodique>
                        <item>Type</item>
                        <item>Rev</item>
                        <item>ViePerio</item>
                        <item>EtatCol</item>
                        <item>IsbnIssn</item>
                        <item>Notes</item>
                        <item>Lien</item>
                        <item>ProdFich</item>
                    </périodique>
                    <rapport>
                        <item>Type</item>
                        <item>Aut</item>
                        <item>Tit</item>
                        <item>Edit</item>
                        <item>Lieu</item>
                        <item>Col</item>
                        <item>Reed</item>
                        <item>Page</item>
                        <item>Rev</item>
                        <item>Vol</item>
                        <item>Num</item>
                        <item>Date</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Notes</item>
                        <item>IsbnIssn</item>
                        <item>ProdFich</item>
                    </rapport>
                    <texte_officiel>
                        <item>Type</item>
                        <item>NatText</item>
                        <item>DateText</item>
                        <item>DatePub</item>
                        <item>Tit</item>
                        <item>Rev</item>
                        <item>Num</item>
                        <item>NumTexOf</item>
                        <item>MotCle</item>
                        <item>CanDes</item>
                        <item>Theme</item>
                        <item>Nomp</item>
                        <item>Resu</item>
                        <item>Lien</item>
                        <item>Annexe</item>
                        <item>LienAnne</item>
                        <item>DateVali</item>
                        <item>ProdFich</item>
                    </texte_officiel>
                </fields>
            </csvtype>
        </formats>
    </actionExportByCat>
    
    <actionLoadNoLayout>
        <action>actionLoad</action>
        <layout>default.htm</layout>
        <nodedupbutton>true</nodedupbutton>
    </actionLoadNoLayout>
</config>
