<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <ascodocpsy>
        <type>xapian2</type>
        <path>ascodocpsy</path>
    </ascodocpsy>
    <ascodocpsysort>
        <type>bis</type>
        <path>ascodocpsy.sort</path>
    </ascodocpsysort>
    <thesaurus>
        <type>xapian</type>
        <path>thesaurus</path>
    </thesaurus>
</config>
