<config>
    <ascodocpsy>
        <type>xapian</type>
        <path>ascodocpsy</path>
    </ascodocpsy>
    <importasco>
        <type>xapian</type>
        <path>importasco</path>
    </importasco>
    <thesaurus>
        <type>xapian</type>
        <path>thesaurus</path>
    </thesaurus>
</config>
