<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <defaultroutes>1</defaultroutes>
    <smarturls>false</smarturls>
    <admin>
        <name>Séverine Ferron</name>
        <email>severine.ferron@bdsp.tm.fr</email>
    </admin>
    <theme>ascodocpsy</theme>
    <layout>asco.html</layout>
    <title>Base documentaire ASCODOCPSY</title>
    <CSS>
        <item>asco.css</item>
    </CSS>
    <security>
        <handler>SpipSecurity</handler>
    </security>
    <sessions>
        <use>false</use>
        <lifetime>0</lifetime>
    </sessions>
</config>
