<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <smarturls>false</smarturls>
    <admin>
        <name>Base SantéPsy</name>
        <email>santepsy@gmail.com</email>
    </admin>
    <theme>ascodocpsy</theme>
    <layout>asco.html</layout>
    <title>Ascodocpsy, réseau documentaire en santé mentale - Base SantéPsy</title>
    <css>
        <item>/css/ascodocpsy/asco.css</item>
        <item>/css/ascodocpsy/site.css</item>
    </css>
    <security>
        <handler>SpipSecurity</handler>
    </security>
    <sessions>
        <use>false</use>
        <lifetime>2678400</lifetime>
        <!-- 
            lifetime : durée de vie des sessions, en secondes
            31 jours * 24 heures * 60 minutes * 60 secondes
         -->
    </sessions>
    <alias>
        <autosize.js>/js/autosize.js</autosize.js>
        <controls.js>/js/controls.js</controls.js>
        <load.js>/js/load.js</load.js>

        <formulaire.css>/css/ascodocpsy/formulaire.css</formulaire.css>
        <homepage.css>/css/homepage.css</homepage.css>
    </alias>
</config>
