<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <smarturls>false</smarturls>
    <admin>
        <name>Base SantéPsy</name>
        <email>santepsy@gmail.com</email>
        <signature>L'administrateur de la Base SantéPsy</signature>
    </admin>
    <theme>ascodocpsy</theme>
    <layout>asco.html</layout>
    <title>Ascodocpsy, réseau documentaire en santé mentale - Base SantéPsy</title>
    <css>
        <item>/css/ascodocpsy/asco.css</item>
        <item>/css/ascodocpsy/site.css</item>
    </css>
    <security>
        <handler>SpipSecurity</handler>
    </security>
    <sessions>
        <use>false</use>
        
        <!-- 
            lifetime : durée de vie des sessions, en secondes
         -->
        <lifetime>
            <AdminBase>16070400</AdminBase><!-- 6 mois -->
            <EditBase>2678400</EditBase><!-- 1 mois -->
            <default>0</default> <!-- 0 = le temps de la session du navigateur -->
        </lifetime>
    </sessions>
    <alias>
        <autosize.js>/js/autosize.js</autosize.js>
        <controls.js>/js/controls.js</controls.js>
        <load.js>/js/load.js</load.js>

        <formulaire.css>/css/ascodocpsy/formulaire.css</formulaire.css>
        <load.css>/css/ascodocpsy/load.css</load.css>
        <homepage.css>/css/homepage.css</homepage.css>
    </alias>
</config>
