<?xml version="1.0" encoding="UTF-8"?>

<!-- Configuration du module ImportModule pour ascoweb -->
<config>
    <module>ImportModule</module>
    
    <database>importasco</database>
    
    <actionUpload>
        <validcallback>Base->checkImportFile</validcallback>
    </actionUpload>
 
    <actionImport>
        <importcallback>Base->importFile</importcallback>
    </actionImport>

</config>