<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <item>
        <url>/base/formulairerecherche</url>
        <module>base</module>
        <action>searchform</action>
    </item>
    <item>
        <url>/base/recherche*</url>
        <module>base</module>
        <action>search</action>
    </item>
    <item>
        <url>/base/[REF]</url>
        <with>
            <REF>\d+(,\d+){0,4}</REF>
        </with>
        <module>base</module>
        <action>show</action>
    </item>
    <item>
        <url>/base/auteur/[aut]</url>
        <module>base</module>
        <action>search</action>
    </item>
    <item>
        <url>/base/motcle/[motscles]</url>
        <module>base</module>
        <action>search</action>
    </item>
    <item>
        <url>/base/revue/[rev]</url>
        <module>base</module>
        <action>search</action>
    </item>
    <item>
        <url>/base/revue/[rev]/localisation</url>
        <module>base</module>
        <action>locate</action>
    </item>
    <item>
        <url>/base/revue/[rev]/presentation</url>
        <module>base</module>
        <action>inform</action>
    </item>
    <item>
        <url>/base/producteur/[prodfich]</url>
        <module>base</module>
        <action>search</action>
    </item>
    <item>
        <url>/base/localisation/[loc]</url>
        <module>base</module>
        <action>search</action>
    </item>
    <item>
        <url>/base/[REF]/modifier</url>
        <with>
            <REF>\d+</REF>
        </with>
        <module>base</module>
        <action>load</action>
    </item>
    <item>
        <url>/base/[REF]/modifiertout</url>
        <with>
            <REF>\d+</REF>
        </with>
        <module>base</module>
        <action>loadfull</action>
    </item>
    <item>
        <url>/base/nouveau</url>
        <module>base</module>
        <action>new</action>
    </item>
    <item>
        <url>/base/enregistrer</url>
        <module>base</module>
        <action>save</action>
    </item>
    <item>
        <url>/base/supprimer*</url>
        <module>base</module>
        <action>delete</action>
    </item>
    <item>
        <url>/base/formulaireremplacement*</url>
        <module>base</module>
        <action>replaceform</action>
    </item>
    <item>
        <url>/base/remplacer</url>
        <module>base</module>
        <action>replace</action>
    </item>
    <item>
        <url>/base/exporter*</url>
        <module>base</module>
        <action>export</action>
    </item>
    <item>
        <url>/base/exportertype*</url>
        <module>base</module>
        <action>exportbytype</action>
    </item>
    <item>
        <url>/panier*</url>
        <module>base</module>
        <action>showcaddie</action>
    </item>
    <item>
        <url>/panier/</url>
        <module>ascocart</module>
        <action>show</action>
    </item>
    <item>
        <url>/panier/[ref]/ajouter</url>
        <with>
            <ref>\d+</ref>
        </with>
        <module>ascocart</module>
        <action>add</action>
    </item>
    <item>
        <url>/panier/ajouter*</url>
        <module>ascocart</module>
        <action>add</action>
    </item>
    <item>
        <url>/panier/[ref]/supprimer</url>
        <with>
            <ref>\d+</ref>
        </with>
        <module>ascocart</module>
        <action>remove</action>
    </item>
    <item>
        <url>/panier/supprimer*</url>
        <module>ascocart</module>
        <action>remove</action>
    </item>
    <item>
        <url>/panier/vider</url>
        <module>ascocart</module>
        <action>clear</action>
    </item>
    <item>
        <url>/SpipSecurity/connect*</url>
        <module>SpipSecurity</module>
        <action>index</action>
    </item>
    <item>
        <url>/</url>
        <module>HomePage</module>
        <action>index</action>
    </item>
</config>
