<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <item>
        <url>/Base/FormulaireRecherche</url>
        <module>Base</module>
        <action>SearchForm</action>
<!--        <add>-->
<!--            <title>Recherche dans la base</title>-->
<!--        </add>-->
    </item>
    <item>
        <url>/Base/$REF</url>
        <with>
            <REF>\d+(,\d+){0,4}</REF>
        </with>
        <module>Base</module>
        <action>Show</action>
    </item>
	<item>
        <url>/Base/RechercheAvancee</url>
        <module>Base</module>
        <action>SearchAdvanced</action>
    </item>
    <item>
        <url>/Base/Recherche</url>
        <module>Base</module>
        <action>Search</action>
    </item>
    <item>
        <url>/Panier</url>
        <module>Base</module>
        <action>ShowCaddie</action>
    </item>
    <item>
        <url>/</url>
        <module>HomePage</module>
        <action>Index</action>
    </item>
</config>
