<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <item>
        <url>/Base/FormulaireRecherche</url>
        <module>Base</module>
        <action>SearchForm</action>
<!--        <add>-->
<!--            <title>Recherche dans la base</title>-->
<!--        </add>-->
    </item>
    
    <item>
        <url>/Base/$REF</url>
        <with>
            <REF>\d+(,\d+){0,4}</REF>
        </with>
        <module>Base</module>
        <action>Show</action>
    </item>
    
    <item>
        <url>/Base/Auteur/$aut</url>
        <module>Base</module>
        <action>Search</action>
    </item>
    <item>
        <url>/Base/Motcle/$motscles</url>
        <module>Base</module>
        <action>Search</action>
    </item>
    <item>
        <url>/Base/Revue/$rev</url>
        <module>Base</module>
        <action>Search</action>
    </item>
    <item>
        <url>/Base/Producteur/$prodfich</url>
        <module>Base</module>
        <action>Search</action>
    </item>
    <item>
        <url>/Base/Localisation/$loc</url>
        <module>Base</module>
        <action>Search</action>
    </item>
    <item>
        <url>/Base/Recherche</url>
        <module>Base</module>
        <action>Search</action>
    </item>

    <item>
        <url>/Base/Revue/$rev/Localisation</url>
        <module>Base</module>
        <action>Locate</action>
    </item>
    
    <item>
        <url>/Base/Revue/$rev/Presentation</url>
        <module>Base</module>
        <action>Inform</action>
    </item>
    
    <item>
        <url>/Base/$REF/Modifier</url>
        <with>
            <REF>\d+</REF>
        </with>
        <module>Base</module>
        <action>Load</action>
    </item>
    <item>
        <url>/Base/$REF/ModifierTout</url>
        <with>
            <REF>\d+</REF>
        </with>
        <module>Base</module>
        <action>LoadFull</action>
    </item>
    <item>
        <url>/Base/Nouveau</url>
        <module>Base</module>
        <action>New</action>
    </item>
    <item>
        <url>/Base/Enregistrer</url>
        <module>Base</module>
        <action>Save</action>
    </item>
    <item>
        <url>/Base/Supprimer</url>
        <module>Base</module>
        <action>Delete</action>
    </item>
    <item>
        <url>/Base/FormulaireRemplacement</url>
        <module>Base</module>
        <action>ReplaceForm</action>
    </item>
    <item>
        <url>/Base/Remplacer</url>
        <module>Base</module>
        <action>Replace</action>
    </item>
    <item>
        <url>/Base/Exporter</url>
        <module>Base</module>
        <action>Export</action>
    </item>
    <item>
        <url>/Base/ExporterType</url>
        <module>Base</module>
        <action>ExportByType</action>
    </item>
    <item>
        <url>/Panier</url>
        <module>Base</module>
        <action>ShowCaddie</action>
    </item>
    <item>
        <url>/Panier/</url>
        <module>AscoCart</module>
        <action>Show</action>
    </item>
    <item>
        <url>/Panier/$ref/Ajouter</url>
        <with>
            <ref>\d+</ref>
        </with>
        <module>AscoCart</module>
        <action>Add</action>
    </item>
    <item>
        <url>/Panier/Ajouter</url>
        <module>AscoCart</module>
        <action>Add</action>
    </item>
    <item>
        <url>/Panier/$ref/Supprimer</url>
        <with>
            <ref>\d+</ref>
        </with>
        <module>AscoCart</module>
        <action>Remove</action>
    </item>
    <item>
        <url>/Panier/Supprimer</url>
        <module>AscoCart</module>
        <action>Remove</action>
    </item>
    <item>
        <url>/Panier/Vider</url>
        <module>AscoCart</module>
        <action>Clear</action>
    </item>
    <item>
        <url>/</url>
        <module>HomePage</module>
        <action>Index</action>
    </item>
</config>
