BODY {
    padding-right: 0px; 
    padding-left: 0px; 
    padding-top: 0px; 
    padding-bottom: 0px; 
    margin: 0px; 
    background-color: #e4e4e4;
    font: 70%  Verdana, Arial, Tahoma, Helvetica, sans-serif;
    text-align: left;
    }

#principal {
    position: relative;
    background-color:#ffffff;
    padding-right: 1px;
    padding-left: 1px;
    margin: 20px auto;
    width: 800px;
    padding-top: 1px; 
    }
    
#principal a:link{
    text-decoration: none;
    color: #006699;
    }   
    
#principal a:visited{
    text-decoration: none;
    text-decoration: none;
    color: #006699;
    }
    
#header {
    padding-right: 0px; 
    padding-left: 0px; 
    padding-bottom: 0px; 
    padding-top: 0px; 
    margin: 0px auto;
    background-color: #ffffff;  
    width: 800px;   
    height: 150px;
    }
    

    
.breadCrumb a:link {
    color: #006699;
    text-decoration: none;  
    }
    
#ContentLeft {  
    float: left;
    width: 130px;
    margin-top: 20px;
    padding-right: 8px;
    padding-bottom: 2px;    
    border-right: 1px solid #cccccc;
    }
    
#contentRight {
    position: relative;
    z-index: 1;
    float : right;  
    width: 640px;
    margin-top: 0;
    margin-right:0px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 48px;   
    font-size: 100%;
    text-align: justify;    
        }
    
#pied { 		clear: both; 
			width: 100%; 
			margin-top: 0; 
			margin-bottom:10px;
			padding-top: 15px ;
			padding-bottom: 15px ;
			border-top: 1px solid #FFFFFF; 
			text-align: center; 
			font-size: 100%; 
			background-color:#F9BB00;
			color:#FFFFFF; 
			
			}
#pied a  {color:#D40162;}
#pied a:hover  {font-weight:bold; color:#FFFFFF; text-decoration: none;}

#recherche {    
    width: 30%;
    margin-left: 550px;
    margin-top: 0px; /* laisser le zéro pour  présentation identique dans IE et Firefox */ 
    padding-top: 70px;
    padding-bottom: 0px;
    font-size: 100%;
    text-align: right;  
    }   
    
    
.ContentLeft a:link {
    color: #006699;
    text-decoration: none;
    }
    
.ContentLeft a:visited {
    color: #006699;
    text-decoration: none;
    }
    
.blocnotes{
    font-weight: normal;
    font-size: 100%;
    color: #006699;
    }   

.titre {
    font-size: 130%;
    font-weight: bold;
    margin-top: 20px;
	color:#D4016C;
    }
    
.texte{
    padding:0;
    font-size: 100%;
    text-align: left;
    color: #5a666f;
    }
    
.titre-sous-rubrique { /*style des sous rubriques dans rubrique.html*/
    font-weight: normal;
    margin-top: 5px;
    padding:0;
    margin-left:0;  
    }   
    
.ul_sous_rubrique { /*style des articles des sous rubriques dans rubrique.html*/
    margin-left: 10px;
    }
    

.texte-centrer{
    padding: 10px 0px 10px 10px;
    font-size: 100%;
    text-align: center;
    color: #006699;
    font-weight: bold;
    }   
    
.detail{  /*'article mis en ligne le, par exemple*/
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 95%;
    text-align: left;
    }       

.surtitre {  /*'utilisé dans les resultats de la page recherche*/
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 120%;
    font-weight: bold;
    font-variant: small-caps;
    }   

.top {
    text-align: right;
    margin-top: 60px;
    font-size: 95%;
    }   
    
.encadrer { /* utilise dans le formulaire de recherche des textes officiels*/ 
    font-weight: bold;
    border:1px dashed #000000;
    padding-bottom:10px;
    padding-top:10px;
    }   

/*********** .ContentLeft link styles ***********/
/*liens du bloc notes visités et non visités = meme couleur*/


.texte a:link {
    color: #006699;
    text-decoration: none;
    }

.texte a:visited {
    color: #006699;
    text-decoration: none;
    }
    
/* fix for browsers that don't need the hack */
html>body .ContentLeft li {
    border-bottom: none;
    }

